<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<ice:outputConnectionStatus styleClass="myStatus" activeLabel="Even geduld terwijl de server je aanvraag behandelt... Gelieve deze pagina niet te verlaten."/>
			<br/>
			<fieldset class="part-fieldset">
				<legend>Partner beheren</legend>
				<ice:panelGrid columns="2" styleClass="padding-table">
					<ice:outputLabel for="name" value="Naam: "/>
					<ice:inputText id="name" value="#{PartnerBean.partner.name}"/>
					
					<ice:outputLabel for="category" value="Categorie: "/>
					<ice:inputText id="category" value="#{PartnerBean.partner.category}"/>
				</ice:panelGrid>
				<br/>
				<fieldset class="part-fieldset">
					<legend>Toegewezen lotjes</legend>
					<ice:dataTable value="#{PartnerBean.partner.assignedRanges}" var="lotRange"
						binding="#{PartnerBean.lotRangeTable}" rendered="#{!empty PartnerBean.partner.assignedRanges}">
						<ice:column>
							<f:facet name="header">
								<ice:outputText value="Vanaf lotnummer"/>
							</f:facet>
							<ice:inputText value="#{lotRange.from}"/>
						</ice:column>
						<ice:column>
							<f:facet name="header">
								<ice:outputText value="t/m lotnummer"/>
							</f:facet>
							<ice:inputText value="#{lotRange.to}"/>
						</ice:column>
						<ice:column>
							<ice:commandButton action="#{PartnerBean.deleteRange}" value="Wissen"/>
						</ice:column>
					</ice:dataTable>
					<p>
						<ice:commandButton action="#{PartnerBean.addRange}" value="Interval toevoegen"/>
					</p>
				</fieldset>
				<br/>
				<ice:panelGrid columns="2" styleClass="padding-table">
					<ice:outputLabel for="returnedLots" value="Aantal teruggegeven lotjes: "/>
					<ice:inputText id="returnedLots" value="#{PartnerBean.partner.nbReturned}"/>
				</ice:panelGrid>
			</fieldset>
			<br/><br/>
			<ice:panelGrid columns="2" columnClasses="left,right" styleClass="table">
				<ice:commandButton value="Opslaan" action="#{PartnerBean.save}"/>
				<ice:commandButton value="Terug naar overzicht" action="#{PartnerBean.goBack}"/>
			</ice:panelGrid>
		</ice:form>
	</ice:portlet>
</f:view>