<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<fieldset class="part-fieldset">
				<legend>Partners zoeken</legend>
				<ice:panelGrid columns="2" styleClass="padding-table">
					<ice:outputLabel for="category" value="Categorie"/>
					<ice:outputText value=""/>
					
					<ice:selectOneMenu id="category" value="#{PartnerBean.category}" valueChangeListener="#{PartnerBean.search}" partialSubmit="true">
						<f:selectItem itemLabel="" itemValue=""/>
						<f:selectItems value="#{PartnerBean.categories}"/>
					</ice:selectOneMenu>
					<ice:commandButton value="Zoeken" action="#{PartnerBean.search}"/>
				</ice:panelGrid>
			</fieldset>
			<br/><br/>
			<ice:panelGroup rendered="#{empty PartnerBean.partners}">
				<p>Geen partners gevonden.</p>
			</ice:panelGroup>
			<ice:dataTable id="partners" value="#{PartnerBean.partners}" var="partner" binding="#{PartnerBean.partnerTable}"
				rowClasses="portlet-section-body results-row,portlet-section-body results-row alt" headerClass="header" styleClass="table"
				columnClasses="left,left,right,right,right,right,center" rendered="#{!empty PartnerBean.partners}" 
				sortColumn="#{PartnerComparator.sortColumn}" sortAscending="#{PartnerComparator.sortAsc}" rows="15">
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="category" arrow="true">
							<ice:outputText value="Categorie"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.category}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="name" arrow="true">
							<ice:outputText value="Naam"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.name}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="assigned" arrow="true">
							<ice:outputText value="Toegekend"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.nbAssigned}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="ranges" arrow="true">
							<ice:outputText value="Intervallen"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.assignedRangesStr}" escape="false"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="returned" arrow="true">
							<ice:outputText value="Teruggegeven"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.nbReturned}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="sold" arrow="true">
							<ice:outputText value="Verkocht"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.nbSold}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:commandSortHeader columnName="registered" arrow="true">
							<ice:outputText value="Geregistreerd"/>
						</ice:commandSortHeader>
					</f:facet>
					<ice:outputText value="#{partner.nbRegistered}"/>
				</ice:column>
				<ice:column>
					<ice:commandButton styleClass="actionButton" action="#{PartnerBean.editPartner}" value="Aanpassen"/>
				</ice:column>
			</ice:dataTable>
			<br/>
			<ice:dataPaginator styleClass="paginator" for="partners" fastStep="10" paginator="true" paginatorMaxPages="10" renderFacetsIfSinglePage="false">
				<f:facet name="first"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-first.gif"/></f:facet>
				<f:facet name="last"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-last.gif"/></f:facet>
                <f:facet name="previous"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-previous.gif"/></f:facet>
                <f:facet name="next"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-next.gif"/></f:facet>
                <f:facet name="fastforward"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-ff.gif"/></f:facet>
                <f:facet name="fastrewind"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-fr.gif"/></f:facet>
			</ice:dataPaginator>
			<p>
				<ice:commandButton styleClass="actionButton" action="#{PartnerBean.newPartner}" value="Nieuwe partner maken"/>
			</p>
		</ice:form>
	</ice:portlet>
</f:view>