<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ace="http://www.icefaces.org/icefaces/components">

<h:head>
</h:head>
<h:body>
	<h:messages globalOnly="true" layout="table"/>

	<h:form>
		<ace:submitMonitor styleClass="myStatus" activeLabel="Even geduld terwijl de server je aanvraag behandelt... Gelieve deze pagina niet te verlaten."/>
		<br/>
		<fieldset>
			<h3>Partner beheren</h3>
			<h:panelGrid columns="2" styleClass="padding-table">
				<h:outputLabel for="name" value="Naam: "/>
				<h:inputText id="name" value="#{PartnerBean.partner.name}"/>

				<h:outputLabel for="category" value="Categorie: "/>
				<h:inputText id="category" value="#{PartnerBean.partner.category}"/>
			</h:panelGrid>
			<br/>
			<fieldset>
				<h3>Toegewezen lotjes</h3>
				<ace:dataTable value="#{PartnerBean.partner.assignedRanges}"
							   var="lotRange"
							   rendered="#{!empty PartnerBean.partner.assignedRanges}"
							   paginator="true"
							   paginatorPosition="bottom"
							   rows="15">

					<ace:column>
						<f:facet name="header">
							<h:outputText value="Vanaf lotnummer"/>
						</f:facet>
						<h:inputText value="#{lotRange.from}"/>
					</ace:column>

					<ace:column>
						<f:facet name="header">
							<h:outputText value="t/m lotnummer"/>
						</f:facet>
						<h:inputText value="#{lotRange.to}"/>
					</ace:column>
					<ace:column>
						<h:commandButton action="#{PartnerBean.deleteRange(lotRange)}" value="Wissen"/>
					</ace:column>
				</ace:dataTable>
				<p>
					<h:commandButton action="#{PartnerBean.addRange}" value="Interval toevoegen"/>
				</p>
			</fieldset>
			<br/>
			<h:panelGrid columns="2" styleClass="padding-table">
				<h:outputLabel for="returnedLots" value="Aantal teruggegeven lotjes: "/>
				<h:inputText id="returnedLots" value="#{PartnerBean.partner.nbReturned}"/>
			</h:panelGrid>
		</fieldset>
		<br/><br/>
		<h:panelGrid columns="2" columnClasses="left, left" style="width: 50%;">
			<h:commandButton value="Opslaan" action="#{PartnerBean.save}"/>
			<h:commandButton value="Terug naar overzicht" action="#{PartnerBean.goBack}"/>
		</h:panelGrid>

	</h:form>
</h:body>
</html>




