<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head>
</h:head>
<h:body>

	<h:messages globalOnly="true" layout="table"/>

	<h:form>
		<fieldset>
			<h3>Partners zoeken</h3>
			<h:panelGrid columns="2" styleClass="padding-table">
				<h:outputLabel for="category" value="Categorie"/>

				<h:selectOneMenu id="category" value="#{PartnerBean.category}" valueChangeListener="#{PartnerBean.search}" partialSubmit="true">
					<f:selectItem itemLabel="" itemValue=""/>
					<f:selectItems value="#{PartnerBean.categories}"/>
				</h:selectOneMenu>
				<h:commandButton value="Zoeken" action="#{PartnerBean.search}"/>
			</h:panelGrid>
		</fieldset>
		<br/><br/>
		<h:panelGroup rendered="#{empty PartnerBean.partners}">
			<p>Geen partners gevonden.</p>
		</h:panelGroup>

		<ace:dataTable id="partners"
					   value="#{PartnerBean.partners}"
					   var="partner"
					   styleClass="table"
					   rowStyleClass="portlet-section-body results-row,portlet-section-body results-row alt"
					   rendered="#{!empty PartnerBean.partners}"
					   paginator="true"
					   paginatorPosition="bottom"
					   rows="15">

			<ace:column headerText="Categorie" sortBy="#{partner.category}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('category')}">
				<h:outputText value="#{partner.category}"/>
			</ace:column>
			<ace:column  headerText="Naam" sortBy="#{partner.name}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('name')}">
				<h:outputText value="#{partner.name}"/>
			</ace:column>
			<ace:column  headerText="Toegekend" sortBy="#{partner.nbAssigned}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('assigned')}">
				<h:outputText value="#{partner.nbAssigned}"/>
			</ace:column>
			<ace:column  headerText="Intervallen" sortBy="#{partner.assignedRangesStr}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('ranges')}">
				<h:outputText value="#{partner.assignedRangesStr}"/>
			</ace:column>
			<ace:column  headerText="Teruggegeven" sortBy="#{partner.nbReturned}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('returned')}">
				<h:outputText value="#{partner.nbReturned}"/>
			</ace:column>
			<ace:column  headerText="Verkocht" sortBy="#{partner.nbSold}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('sold')}">
				<h:outputText value="#{partner.nbSold}"/>
			</ace:column>
			<ace:column  headerText="Geregistreerd" sortBy="#{partner.nbRegistered}" sortAscending="#{PartnerComparator.sortAsc}" sortFunction="#{PartnerComparator.setSortColumn('registered')}">
				<h:outputText value="#{partner.nbRegistered}"/>
			</ace:column>

			<ace:column>
				<h:commandButton styleClass="actionButton" action="#{PartnerBean.editPartner(partner)}" value="Aanpassen"/>
			</ace:column>
		</ace:dataTable>
		<br/>
		<p>
			<h:commandButton styleClass="actionButton" action="#{PartnerBean.newPartner}" value="Nieuwe partner maken"/>
		</p>
	</h:form>
</h:body>
</html>