<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">

	<ice:portlet>
		<ice:form styleClass="focusform">
			<h2>#{msg.register_a_duck}</h2>
			<ice:messages globalOnly="true" layout="table"/>
			<div>
				<ice:panelGroup styleClass="frm-row" rendered="#{!RegistrationBean.codeOk}">
					<p>#{msg.registration_step_1}</p>
					<ice:inputText styleClass="autofocus" value="#{RegistrationBean.code}" readonly="#{RegistrationBean.codeOk}" maxlength="6"/>
					<div class="btn btn-small">
						<ice:commandLink action="#{RegistrationBean.verifyCode}" value="#{msg.ok}"/>
					</div>
				</ice:panelGroup>
				<p><b><ice:outputText value="#{RegistrationBean.code}" rendered="#{RegistrationBean.codeOk}"/></b></p>
			</div>
			<h:panelGroup layout="block" rendered="#{RegistrationBean.codeOk}">
				<ice:panelGroup styleClass="frm-row" rendered="#{!RegistrationBean.checksumOk}">
					<p>#{msg.registration_step_2}</p>
					<ice:inputText value="#{RegistrationBean.checksum}" maxlength="3" rendered="#{!RegistrationBean.checksumOk}"/>
					<div class="btn btn-small">
						<ice:commandLink action="#{RegistrationBean.verifyChecksum}" value="#{msg.ok}"/>
					</div>
				</ice:panelGroup>
				<p><b><ice:outputText value="#{RegistrationBean.checksum}" rendered="#{RegistrationBean.checksumOk}"/></b></p>
			</h:panelGroup>
			<ice:panelGroup layout="block" styleClass="btn-holder" rendered="#{RegistrationBean.checksumOk}">
				<div class="btn btn-small">
					<ice:commandLink action="#{RegistrationBean.registerAnother}" value="#{msg.register_another_lot}"/>
				</div>
			</ice:panelGroup>
			
			<div class="btn btn-small">
				<ice:commandLink action="#{RegistrationBean.goBack}" value="#{msg.go_back}"/>
			</div>
		</ice:form>
		<script type="text/javascript">
			jQuery(".autofocus").focus();
		</script>
	</ice:portlet>
</f:view>