<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:ui="http://java.sun.com/jsf/facelets" locale="#{ApplicationConstants.locale}">

	<ice:portlet>
		<ice:form styleClass="focusform">
			<h2>#{msg.register_a_duck}</h2>
			<ice:messages layout="table"/>
			<p>
				#{msg.enter_your_details}<br/>
				<ice:outputFormat value="#{msg.first_x_fields_are_required}">
					<f:param value="4"/>
				</ice:outputFormat>
			</p>
			<ui:include src="../participant-info.xhtml"/>
			
			<div class="btn btn-small">
				<ice:commandLink action="choose-action" value="#{msg.go_back}"/>
			</div>
			<div class="btn btn-small">
				<ice:commandLink action="#{RegistrationBean.toEnterCode}" value="#{msg.next}"/>
			</div>
		</ice:form>
		<script type="text/javascript">
			jQuery(".autofocus").focus();
		</script>
	</ice:portlet>
</f:view>
