<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
    <h:messages globalOnly="true" layout="table"/>
    <h:form>
        <fieldset>
            <legend></legend>
            <h3>Deelnemer aanpassen</h3>
            <h:panelGrid columns="2" styleClass="padding-table">
                <h:outputLabel for="firstName" value="Voornaam: "/>
                <h:inputText id="firstName" value="#{ParticipantsBean.firstName}"/>

                <h:outputLabel for="lastName" value="Achternaam: "/>
                <h:inputText id="lastName" value="#{ParticipantsBean.lastName}"/>

                <h:outputLabel for="mobileNumber" value="Gsm-nummer: "/>
                <h:inputText id="mobileNumber" value="#{ParticipantsBean.formattedMobileNumber}"/>

                <h:outputLabel for="emailAddress" value="E-mailadres: "/>
                <h:inputText id="emailAddress" value="#{ParticipantsBean.emailAddress}"/>

                <h:outputText value=""/>
                <h:commandButton value="Opslaan" action="#{ParticipantsBean.save}"/>
            </h:panelGrid>
        </fieldset>
        <br/>
        <h:commandButton value="Ga terug" action="#{ParticipantsBean.goBack}"/>
    </h:form>
</h:body>
</html>