<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head>
</h:head>
<h:body>

	<ace:messages globalOnly="true" style="table"/>
	<h:form>
		<fieldset>
			<h3>Deelnemers zoeken</h3>
			<h:panelGrid columns="5" styleClass="padding-table">
				<h:outputLabel for="mobileNumber" value="Gsm-nummer"/>
				<h:outputLabel for="emailAddress" value="E-mailadres"/>
				<h:outputLabel for="firstName" value="Voornaam"/>
				<h:outputLabel for="lastName" value="Achternaam"/>
				<h:outputText value=""/>

				<h:inputText id="mobileNumber" value="#{ParticipantsBean.formattedMobileNumber}"/>
				<h:inputText id="emailAddress" value="#{ParticipantsBean.emailAddress}"/>
				<h:inputText id="firstName" value="#{ParticipantsBean.firstName}"/>
				<h:inputText id="lastName" value="#{ParticipantsBean.lastName}"/>
				<h:commandButton value="Zoeken" action="#{ParticipantsBean.search}"/>
			</h:panelGrid>
		</fieldset>
		<br/>
		<h:panelGroup rendered="#{empty ParticipantsBean.participants}">
			<p>Geen deelnemers gevonden.</p>
		</h:panelGroup>

		<ace:dataTable id="participants"
					   value="#{ParticipantsBean.participants}"
					   var="_participant"
					   styleClass="table"
					   rendered="#{!empty ParticipantsBean.participants}"
					   rowStyleClass="portlet-section-body results-row,portlet-section-body results-row alt"
					   paginator="true"
					   paginatorPosition="bottom"
					   rows="#{ParticipantsBean.nbParticipantsPerPage}">

			<ace:column>
				<f:facet name="header">
					<h:outputText value="ID"/>
				</f:facet>
				<h:outputText value="#{_participant.participantId}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Voornaam"/>
				</f:facet>
				<h:outputText value="#{_participant.firstName}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Achternaam"/>
				</f:facet>
				<h:outputText value="#{_participant.lastName}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Gsm-nummer"/>
				</f:facet>
				<h:outputText value="#{_participant.formattedMobileNumber}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="E-mailadres"/>
				</f:facet>
				<h:outputText value="#{_participant.emailAddress}"/>
			</ace:column>
			<ace:column>
					<h:commandButton action="#{ParticipantsBean.toParticipant(_participant)}" value="Aanpassen"/>
			</ace:column>
		</ace:dataTable>
		<br/>
	</h:form>
</h:body>
</html>