.header {
	padding: 5px 10px;
	color: white;
	background: #727C81;
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.myStatus .iceOutConStatInactv, .myStatus .iceOutConStatActv,
.myStatus .iceOutConStatCaution, .myStatus .iceOutConStatDisconnect {
	background-position: left center;
	font-size: 12px;
	height: 25px;
	padding-left: 35px;
	padding-top: 5px;
	position: absolute;
	vertical-align: middle;
	width: 700px;
	color: gray;
	font-weight: bold;
}

.paginator {
	margin: auto;
}

.paginator .iceDatPgrScrCol a {
	color: #369;
	background-color: #fff;
}

.padding-table td {
	padding: 3px;
}

fieldset.part-fieldset {
	border: 1px solid #bfbfbf;
	display: inline-block;
}

.iceCmdSrtHdr .iceOutTxt {
	padding-right: 0;
}

.iceFrm {
	font-size: 12px;
	color: #333;
}

.iceCmdSrtHdrAsc, .iceCmdSrtHdrDesc {
	padding-left: 5px;
}

.iceDatTbl th a, .iceDatTbl th span {
	color: white;
	font-weight: bold;
	padding: 5px 3px;
	display: inline-block;
}

.iceDatTbl th, .iceDatTbl th.header {
	background: #888;
	color: white;
	podding: 0;
}

.ui-widget-header {
	border: 1px solid #cccccc;
	background-clip: padding-box;
	color: #000000;
	font-weight: bold;
}

.ui-state-highlight .ui-icon {
	background-image: none !important;
}

input[type="submit"] {
	color: white;
	border-radius: 5px;
	background: #dab82a;
	padding: 8px 14px;
	border: 0px;
}
input[type="submit"]:hover {
	background: #22488b;
}
