<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">

	<ice:portlet>
		<h2>#{msg.buy_ducks}</h2>
		<ice:messages globalOnly="true" layout="table"/>
		<p>
			<ice:outputFormat value="#{msg.dear_x}">
				<f:param value="#{RegistrationBean.firstName}"/>
			</ice:outputFormat>
		</p>
		<p>
			<ice:outputFormat value="#{msg.account_information}">
				<f:param value="#{RegistrationBean.emailAddress}"/>
				<f:param value="#{RegistrationBean.totalCost}"/>
			</ice:outputFormat>
		</p>
		<ul>
			<li><span>#{msg.belgian}: </span><b><ice:outputText value="#{ApplicationConstants.accountNoBelgium}"/></b></li>
			<li><span>#{msg.iban}: </span><b><ice:outputText value="#{ApplicationConstants.accountNoIban}"/></b></li>
			<li><span>#{msg.swift}: </span><b><ice:outputText value="#{ApplicationConstants.accountNoSwift}"/></b></li>
		</ul>
		<p>
			<span>#{msg.use_the_following_message_in_your_transfer}: </span><b><span>EEND </span><ice:outputText value="#{RegistrationBean.reservation.reservationId}"/></b><br/>
			<b>#{msg.reservation_attention}</b>
		</p>
		<p>
			#{msg.thank_you_for_your_cooperation}
		</p>
	</ice:portlet>
</f:view>