<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:ui="http://java.sun.com/jsf/facelets" locale="#{ApplicationConstants.locale}">
	<ice:portlet>
		<ice:form>
			<h2>#{msg.buy_ducks}</h2>
			<ice:messages layout="table"/>
			<p>
				#{msg.choose_amount_of_ducks}<br/>
				#{msg.then_enter_your_details}<br/><br/>
				<i>#{msg.no_gadget_duck}</i>
			</p>
			<p>
				<ice:outputFormat value="#{msg.first_x_fields_are_required}">
					<f:param value="5"/>
				</ice:outputFormat>
			</p>
			<div class="frm-row">
				<div class="frm-left">
					<ice:outputLabel for="duckAmount" value="#{msg.number_of_ducks}"/>
					<ice:selectOneMenu id="duckAmount" value="#{RegistrationBean.duckAmount}" rendered="#{!RegistrationBean.admin}">
						<f:selectItems value="#{ApplicationConstants.duckAmounts}"/>
					</ice:selectOneMenu>
					<ice:inputText id="duckAmount" value="#{RegistrationBean.duckAmount}" rendered="#{RegistrationBean.admin}"/>
				</div>
			</div>
			<ui:include src="../participant-info.xhtml"/>
			
			<div class="btn btn-small">
				<ice:commandLink action="choose-action" value="#{msg.go_back}"/>
			</div>
			<div class="btn btn-small">
				<ice:commandLink action="#{RegistrationBean.createReservation}" value="#{msg.next}"/>
			</div>
		</ice:form>
		<script type="text/javascript">
			jQuery(".autofocus").focus();
		</script>
	</ice:portlet>
</f:view>