@import url(form.css);
html{font-size:16px}
body,html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,pre,cite,code,em,img,samp,small,strong,var,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0}
body{font:normal 62.5%/1 Arial,Verdana,"Helvetica Neue",Helvetica,"Times New Roman","Courier New",sans-serif;color:#fff;background:#77c5e6 url('../images/background.jpg') repeat-x top left}
body.portal-popup{color: #000}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold}
abbr,acronym{border-bottom:1px dotted #000;cursor:help}
em{font-style:italic}
p{line-height:1.5}
ul{list-style:none}
ol{list-style:decimal inside none}
a:link,a:visited{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
a,a img,a:active img,a:focus img,:focus,*:focus{outline:0} /* no outline's in mozilla browsers around links and iamges */
table{border-collapse:collapse;border-spacing:0}/* tables still need cellspacing="0",cellpadding="0" in the markup */
small{font-size:90%}
.left{float:left}
.right{float:right}
.clear-both{clear:both;height:0;font-size:1px;line-height:0}
.clear-left{clear:left}
.clear-right{clear:right}
.hideflow{overflow:hidden}
.floatstop:after,.sponsor-intro:after{content:".";display:block;height:0;clear:both;visibility:hidden}
*:first-child+html .floatstop,*:first-child+html .sponsor-intro{min-height:1px} /*ie7*/
* html .floatstop,* html .sponsor-intro{height:1%} /*ie6*/
.underline{border-bottom:1px solid}
.strike{text-decoration:line-through}
.highlight{background-color:#ffc; color:inherit}
.img-left{float:left;margin:0 10px 4px 0}
.img-right{float:right;margin:0 0 4px 10px}
.pos-absolute{position:absolute}
.pos-relative{position:relative}
.block{display:block}
.hidden{display:none}

.portlet-msg-error,.portlet-msg-info{display:block;width:800px;font-size:1.5em;line-height:1.5}
.portlet-msg-error{color:red}
.portlet-msg-info{background:#ffd600 none;border:5px solid A7CEDF;color:#066a94}

#wrapper{width:860px;margin:0 auto;position:relative;background:none}

#banner{width:860px;height:406px;background:transparent url('../images/header-bg.png') no-repeat top left}

#link-lions{width:62px;height:65px;display:block;position:absolute;top:10px;left:12px;background:transparent url('../images/logo-lions.png') no-repeat top left}
#link-eenhartvoorlimburg{width:216px;height:65px;display:block;position:absolute;top:10px;left:108px;background:transparent url('../images/logo-hvl.jpg') no-repeat top left}
#navigation{width:860px;height:35px;position:absolute;top:371px;left:0;z-index:10}
#navigation ul{padding:0 10px}
#navigation li{height:35px;display:inline-block;margin-right:40px;position:static;_display:block;_float:left}/* the position static is placed for bug ie7 */
#navigation li.selected{background:transparent url('../images/nav-arrow.jpg') no-repeat bottom center}
#navigation li a{height:35px;line-height:28px;display:block;color:#fff;font-size:1.4em;_float:left}
#navigation li a:hover{text-decoration:none}
#navigation li.selected a{color:#fff;font-size:2.2em;line-height:1}
#navigation li:hover{position:relative}
#navigation li:hover ul{display:block}
#navigation ul ul{width:146px;height:auto!important;padding:0 10px;position:absolute;top:28px;left:0;z-index:15;float:left;background:#157fab;border:1px solid #b9d8e5;border-top:none}
#navigation li li{width:146px;height:auto}
#navigation li li a,#navigation li.selected li a{height:auto;line-height:1;padding:5px 0;color:#fff7b6;font-size:1.2em;border-bottom:1px solid #479abd}
#navigation li li.selected{background:none}
#navigation .child-menu{margin-left:-10px}

#content-wrapper{padding:40px 10px 0;}
#content-wrapper h2,#content-wrapper h3,#content-wrapper h4,#content-wrapper h5,#content-wrapper h6{color:#076d97;margin-bottom:30px}
#content-wrapper h2{font-size:3em}
#content-wrapper h3{font-size:2.5em}
#content-wrapper h4{font-size:2.2em}
#content-wrapper h5{font-size:2em}
#content-wrapper h6{font-size:1.8em}
#content-wrapper p{font-size:1.5em;margin-bottom:20px}
#content-wrapper ul,#content-wrapper ol{margin-bottom:15px}
#content-wrapper li{margin-left:15px;padding-bottom:5px;font-size:1.5em;line-height:1.5}
#content-wrapper ol li{list-style-type:decimal}
#content-wrapper ul li{list-style-type:disc}
#content-wrapper li p,#content-wrapper li li{font-size:100%}
#content-wrapper li ul{margin:5px 0 0}
#content-wrapper img{border:5px solid #fff}
#content-wrapper a{color:#076D97;text-decoration:underline}

#content-wrapper .image_gallery img{width:100px;height:72px}

.sponsor-intro{min-height:171px;height:auto!important;height:171px;margin-bottom:25px;padding-bottom:30px;background:transparent url('../images/sponsor-intro.jpg') no-repeat 10px bottom}
#content-wrapper .sponsor-intro img{float:left;border:0;margin-left:55px}
.sponsor-text{width:400px;margin-left:430px}
#content-wrapper .sponsor-text h2 span{margin-left:5px;font-size:60%;color:#fff7b6}

.container-numbers{margin-top:30px}
.container-numbers td{padding:5px;font-size:1.4em}


#content-wrapper .asset-full-content{width:400px;margin:0 9px 20px;float:left}
.nieuwsblogs #content-wrapper .asset-full-content{width:100%;margin:none;float:none}
#content-wrapper .asset-full-content img.logo{width:210px}
#content-wrapper .asset-full-content .sponsor-desc{margin-left:230px}
#content-wrapper .asset-full-content h2{font-size:2.4em;margin-bottom:5px}
#content-wrapper .asset-full-content b{color:#fff}
#content-wrapper .portlet-asset-publisher .separator{border-top:0}
#content-wrapper .portlet-asset-publisher .asset-full-content .asset-content,#content-wrapper .portlet-asset-publisher .asset-content{margin:0}
#content-wrapper .portlet-asset-publisher .asset-content img{margin:0}

#content-wrapper .list-logos td img{border:0;padding:5px}

#footer{text-align:center;margin-top:50px;}
#footer ul{padding-bottom:30px}
#footer li{display:inline-block;border-right:1px solid #157fab;_display:block;_float:left}
#footer li a{_float:left}
#footer li.last{border:0}
*:first-child+html #footer li{display:inline}
#footer a{margin:0 13px;color:#157fab;font-size:1.4em}

.portlet-asset-publisher .asset-content img{float:none;}
.portlet-login .navigation{background:none}
#content-wrapper img.icon,#content-wrapper .ctrl-holder img,.ui-datepicker-trigger{border:0}
#content-wrapper .portlet-login .navigation li{list-style-type:none}
#content-wrapper .portlet-journal .lfr-panel-content,#content-wrapper .portlet-journal .lfr-panel-titlebar .lfr-panel-title span,
#content-wrapper .lfr-panel-container,#content-wrapper .lfr-floating-container{background:none}

.portlet-asset-publisher .asset-content img{float: none;}
.js .delete-tab{visibility:hidden}
#add-page,.portlet-blogs .taglib-social-bookmarks,.portlet-blogs .taglib-ratings.stars,.portlet-blogs .taglib-flags,.portlet-blogs .taglib-ratings.thumbs{display:none}
#content-wrapper .portlet-blogs .entry-title a,#content-wrapper .portlet-blogs .entry-title{margin-bottom:30px;font-size:1.5em;text-decoration:none}
.portlet-blogs .entry-date,.portlet-blogs .entry-author, .portlet-blogs .view-count, .portlet-blogs .comments{color:#076d97}
.portlet-blogs .search-form #_33_keywords,.portlet-blogs .search-form input[type="submit"]{display:none}
.portlet-blogs .entry-author{height:14px; border-right: 1px solid #076d97}
.portlet-blogs input.form-text{border: 1px solid 076d97}
.portlet-blogs .entry-navigation,.portlet-blogs .entry-breadcrumb,.portlet-blogs .ui-tabs,.breadcrumbs,.portlet-blogs .subscribe,.portlet-blogs .taglib-page-iterator,.portlet-blogs .portlet-msg-success,.portlet-blogs .user-profile-image{display:none}
.portlet-blogs .separator{height:auto!important;height:171px;margin-bottom:25px;padding-bottom:30px;border:none;background:transparent url('../images/sponsor-intro.jpg') no-repeat}

.portlet-journal-content .ui-tabs{display:none}

#duckrace-info{color:#DDDDDD;left:30px;position:absolute;top:290px;}

.portal-add-content{color:#222;font-size:12px}
.portal-add-content .portlet-msg-info{font-size:12px}

/* Bannerless properties */
.bannerless #banner{display:none}
.bannerless #duckrace-info{display:none}
body.bannerless{background-position:0px -340px}
.bannerless #navigation{top:31px}
.bannerless #content-wrapper{padding:100px 10px 0;}

/* Powered by logo */
p.powered-by a {color: #444;}
p.powered-by a:hover {text-decoration: none}
p.powered-by img {vertical-align: top;}
p.powered-by {text-align: center;font-size: 12px;padding-bottom: 25px;}