fieldset,form,label,legend,input{margin:0;padding:0;border:0;outline:0;font-size:100.01%;background:transparent}
form{margin-bottom:15px;}
input,select,textarea{font-family:Arial,Verdana,Tahoma,sans-serif;font-size:100%;color:#000}
input[type='submit'],input[type='image'],label[for],select,button,.pointer{cursor:pointer}
input[type='text'],input[type='password']{padding:3px;margin:3px 0;background:#fff;border:2px solid #066a94}
input[type='submit'],input[type='submit']:hover,input[type='button'],input[type='button']:hover{padding:3px;background:#1b8dbc;color:#ffd600;border:0;font-size:1.6em}
textarea,textarea.focus{overflow:auto;border:2px solid #066a94}

.frm-row{margin-bottom:17px}
.frm-left,.frm-right{width:300px;float:left}
.frm-left{margin-right:20px}
.frm-wrap{width:280px;height:39px;padding:0 10px;margin-bottom:3px;display:block;background:transparent url('../images/frm-input-bg.png') no-repeat top left}
.frm-wrap input[type='text']{width:278px;height:19px;padding:5px 1px;margin:4px 0 0;font-size:1.6em;background:none;border:0!important}
.frm-row .frm-left select {font-size: 1.6em;padding: 4px;background:white;border:0!important;width:278px}
label{display:block;margin-bottom:1px;color:#daeef7;font-size:1.8em}

.form-btn-volgende{}
.form-btn-wrap,.form-btn-inner{height:50px;display:inline-block}
.form-btn-wrap{padding-right:9px;background:transparent url('../images/btn-bg.png') no-repeat right top}
.form-btn-inner{line-height:50px;padding-left:9px;background:transparent url('../images/btn-bg.png') no-repeat left top}
.form-btn-wrap input[type="submit"],.form-btn-wrap input[type="submit"]:hover{margin-top:4px;margin-top:0!ie;background:none;border:0;font-family:Arial;color:#ffd600;font-size:2.6em}
.frm-row select{margin-top:4px}

.form-btn-register{width:306px;height:100px;background:transparent url('../images/btn-register.png') no-repeat top left}
.form-btn-buy{width:199px;height:100px;background:transparent url('../images/btn-buy.png') no-repeat top left}
.form-btn-register .form-btn-inner,.form-btn-buy .form-btn-inner{background:none}
.form-btn-register input[type="submit"],.form-btn-buy input[type="submit"]{font-size:0}
.form-btn-register input[type="submit"]{width:290px;height:90px;}
.form-btn-buy input[type="submit"]{width:183px;height:90px;}
.btn-wrapper .btn-holder{margin-bottom:15px}

.duck-registration{width:380px;margin-bottom:20px}
.duck-registration .frm-wrap{float:left;margin-top:5px}
.duck-registration p{clear:both}

.frm-row .frm-input-desc{font-size:1.4em}


