/**  * jQuery lightBox plugin  * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)  * and adapted to me for use like a plugin from jQuery.  * @name jquery-lightbox-0.5.css  * @author Leandro Vieira Pinho - http://leandrovieira.com  * @version 0.5  * @date April 11, 2008  * @category jQuery plugin  * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)  * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US  * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin  */

#jquery-overlay {
	height: 500px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 90;
}

#jquery-lightbox {
	left: 0;
	line-height: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
}

#jquery-lightbox a img {
	border: none;
}

#lightbox-container-image-box {
	background-color: #fff;
	height: 250px;
	margin: 0 auto;
	position: relative;
	width: 250px;
}

#lightbox-container-image {
	padding: 10px;
}

#lightbox-loading {
	height: 25%;
	left: 0%;
	line-height: 0;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
}

#lightbox-nav {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
	left: 0;
}

#lightbox-nav a {
	outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	display: block;
	height: 100%;
	width: 49%;
	zoom: 1;
}

#lightbox-nav-btnPrev {
	float: left;
	left: 0;
}

#lightbox-nav-btnNext {
	float: right;
	right: 0;
}

#lightbox-container-image-data-box {
	background-color: #fff;
	font: 10px Verdana,Helvetica,sans-serif;
	line-height: 1.4em;
	margin: 0 auto;
	overflow: auto;
	padding: 0 10px 0;
	width: 100%;
}

#lightbox-container-image-data {
	color: #666;
	padding: 0 10px;
}

#lightbox-container-image-data #lightbox-image-details {
	float: left;
	text-align: left;
	width: 70%;
}

#lightbox-image-details-caption {
	font-weight: bold;
}

#lightbox-image-details-currentNumber {
	clear: left;
	display: block;
	padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
	float: right;
	padding-bottom: 0.7em;
	width: 66px;
}