/* --------------------------------------------------------------------------------------------

	DEFINITIONS:			Stylesheet STYLE.CSS - LIMBURGSE EENDJESRACE
	AUTHOR:					Yildiray Gunay @ ACA IT - Solutions (www.aca-it.be)
	VERSION:					10.09.2013
	UPDATED:					XX.XX.XXXX


	COLORS:

	1. BLUE					#22488b

	2. DARK GREY			#555555

	3. YELLOW				#dab82a

	4. LIGHT GREY			#9ca6ae


	CONTENTS:
	
	1. NORMALIZE CSS

	2. BASICS

	3. PAGE STRUCTURE

	4. MEDIA QUERIES

=============================================================================================== */

/* 1. NORMALIZE CSS
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* 2. BASICS
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* TYPOGRAPHY
-------------------------------------------------------------- */

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans/OpenSansRegular.eot');
    src: url('../fonts/OpenSans/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSansRegular#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans/OpenSansLight.eot');
    src: url('../fonts/OpenSans/OpenSansLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansLight.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansLight.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSansLight#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/OpenSansBold.eot');
    src: url('../fonts/OpenSans/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSansBold#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans/OpenSansSemibold.eot');
    src: url('../fonts/OpenSans/OpenSansSemibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansSemibold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansSemibold.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSansSemibold#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEADINGS
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	color: #22488b; 
	font-family: OpenSansRegular, Arial, Helvetica, sans-serif; 
	line-height: 1.4; 
	margin: 0 0 15px; 
}

h3, h5 {
	color: #dab82a; 
}

h1 							{ font-size: 24px; }
h2 							{ font-size: 20px; }
h3 							{ font-size: 18px; }
h4 							{ font-size: 16px; }
h5 							{ font-size: 14px; }
h6 							{ font-size: 12px; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img 
								{ margin: 0; }


/* Margins
-----------------------------------------------------------*/

.no-margin					{ margin: 0; }

.margin-top-15				{ margin-top: 15px; }
.margin-right-15			{ margin-right: 15px; }
.margin-bottom-15			{ margin-bottom: 15px; }
.margin-left-15			{ margin-left: 15px; }

.margin-top-20				{ margin-top: 20px; }
.margin-right-20			{ margin-right: 20px; }
.margin-bottom-20			{ margin-bottom: 20px; }
.margin-left-20			{ margin-left: 20px; }

.margin-top-10				{ margin-top: 10px; }
.margin-right-10			{ margin-right: 10px; }
.margin-bottom-10			{ margin-bottom: 10px; }
.margin-left-10			{ margin-left: 10px; }

.margin-top-5				{ margin-top: 5px; }
.margin-right-5			{ margin-right: 5px; }
.margin-bottom-5			{ margin-bottom: 5px; }
.margin-left-5				{ margin-left: 5px; }

.margin-top-min10			{ margin-top: -10px; }
.margin-right-min10		{ margin-right: -10px; }
.margin-bottom-min10		{ margin-bottom: -10px; }
.margin-left-min10		{ margin-left: -10px; }

.margin-top-min5			{ margin-top: -5px; }
.margin-right-min5		{ margin-right: -5px; }
.margin-bottom-min5		{ margin-bottom: -5px; }
.margin-left-min5			{ margin-left: -5px; }

.margin-5					{ margin: 5px; }
.margin-10					{ margin: 10px; }
.margin-15					{ margin: 15px; }
.margin-20					{ margin: 20px; }

/* Padding
-----------------------------------------------------------*/

.no-padding					{ padding: 0; }

.padding-top-15			{ padding-top: 15px; }
.padding-right-15			{ padding-right: 15px; }
.padding-bottom-15		{ padding-bottom: 15px; }
.padding-left-15			{ padding-left: 15px; }

.padding-top-20			{ padding-top: 20px; }
.padding-right-20			{ padding-right: 20px; }
.padding-bottom-20		{ padding-bottom: 20px; }
.padding-left-20			{ padding-left: 20px; }

.padding-top-10			{ padding-top: 10px; }
.padding-right-10			{ padding-right: 10px; }
.padding-bottom-10		{ padding-bottom: 10px; }
.padding-left-10			{ padding-left: 10px; }

.padding-top-5				{ padding-top: 5px; }
.padding-right-5			{ padding-right: 5px; }
.padding-bottom-5			{ padding-bottom: 5px; }
.padding-left-5			{ padding-left: 5px; }

.padding-top-min10		{ padding-top: -10px; }
.padding-right-min10		{ padding-right: -10px; }
.padding-bottom-min10	{ padding-bottom: -10px; }
.padding-left-min10		{ padding-left: -10px; }

.padding-top-min5			{ padding-top: -5px; }
.padding-right-min5		{ padding-right: -5px; }
.padding-bottom-min5		{ padding-bottom: -5px; }	
.padding-left-min5		{ padding-left: -5px; }

.padding-5					{ padding: 5px; }
.padding-10					{ padding: 10px; }
.padding-15					{ padding: 15px; }
.padding-20					{ padding: 20px; }


/* Border-radius
-----------------------------------------------------------*/

.border-radius-0			{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.border-radius-1			{ -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.border-radius-2			{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.border-radius-3			{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.border-radius-4			{ -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.border-radius-5			{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.border-radius-6			{ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/* Elements
-----------------------------------------------------------*/

*, *:before, *:after 	{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container 					{ width: 970px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.overflow-hidden 			{ overflow: hidden; }
.overflow-visible			{ overflow: visible; }
.overflow-scroll			{ overflow: scroll; }



/* 2. PAGE STRUCTURE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

html, body {
	height: 100%;
}

body {
	font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	line-height: 20px;
	color: #555;
	background: #fff;
}

a {
	color: #E5720D;
	outline: none;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

a:hover {
	outline: none;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

a:focus, a:active {
	outline: none;
}

#header {
	height: 330px;
	background: url("../images/2014/bg-header.png") center top no-repeat;
}

#header .container {
	position: relative;
}

#count {
	font-family: OpenSansBold;
	color: #234b8c;
}

#nav-bar {
	background: #9ca6ae;
	color: #fff;
	height: 40px;
}

#nav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav-bar > div > ul > li {
	list-style: none;
	display: inline-block;
	float: left;
	position: relative;
}

#nav-bar a {
	color: #fff;
	text-decoration: none;
}

#nav-bar > div > ul > li > a {
	padding: 10px 20px;
	display: inline-block;
	background: url("../images/2014/bg-menu-hover.png") center bottom -24px no-repeat;
}

#nav-bar > div > ul > li > a:hover, #nav-bar > div > ul > li:hover > a {
	background: #a2afb9 url("../images/2014/bg-menu-hover.png") center bottom -14px no-repeat;
}

#nav-bar > div > ul > li > a.active {
	background: #dab82a url("../images/2014/bg-menu-hover.png") center bottom -14px no-repeat;
}

#nav-bar > div > ul > li li a.active {
	background: #dab82a;
}

#nav-bar li > ul {
	display: none;
	padding: 10px 0 0;
}

#nav-bar li > ul > li {
	list-style: none;
}

#nav-bar li > ul > li > a {
	background: #A2AFB9;
	color: #fff;
	display: inline-block;
	min-width: 250px;
	padding: 10px 20px;
	white-space: nowrap;
	border-top: 1px solid #fff;
}

#nav-bar li > ul > li > a:hover {
	background: #dab82a;
}

#nav-bar > div > ul > li:hover > ul {
	display: block;
	position: absolute;
}


#content {
	padding: 30px 0;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -90px;
}

#wrapper:after {
	content: "";
	display: block;
	height: 90px;
}

#counter {
	position: absolute;
	right: 0;
	bottom: 15px;
	width: 240px;
	text-align: center;
}

#count {
	font-family: OpenSansBold;
	color: #234b8c;
}

#content-wrapper {
	width: 100%;
}



.left {
	float: left;
}

.right {
	float: right;
}

.frm-row {
	margin-bottom: 15px;
}

.frm-row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.frm-row > div > * {
	display: block;
}

.frm-row input[type="text"] {
	width: 400px;
	font-size: 18px;
	padding: 5px 10px;
	color: #22488b;
	border: 2px solid #dab82a;
	border-radius: 5px;
}

.frm-row .info {
	font-size: 0.9em;
}

.frm-row label {
	font-weight: bold;
}

.frm-row .btn-small {
	margin-left: 15px;
}


.btn {
	display: block;
	margin: 15px 0;
	background: #dab82a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 15px 0px #888;
	box-shadow: 2px 2px 15px 0px #888;
}

.btn-large {
	display: block;
	margin: 15px;
	text-align: center;
}

.btn-small {
	display: inline-block;
	margin-right: 20px;
}

.btn:hover {
	background: #22488b;
}

.btn a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.btn-large a {
	padding: 15px 50px 20px;
	font-size: 1.5em;
}

.btn-small a {
	padding: 10px 20px;
	font-size: 1.2em;
	font-weight: bold;
}

.btn-large a .buzz {
	font-family: OpenSansBold;
	font-size: 1.3em;
	line-height: 1.3em;
	display: block;
}



#footer {
	background: #eee;
	padding: 30px 0;
	-webkit-box-shadow: 2px 2px 15px 0px #888;
	box-shadow: 2px 2px 15px 0px #888;
	height: 90px;
}

.powered-by {
	text-align: center;
	font-size: 0.9em;
	margin: 0;
	color: #888;
}

.powered-by a {
	color: white;
	text-decoration: none;
}

.powered-by img {
	margin-bottom: -13px;
	padding: 5px;
}

input, textarea {
	outline: none;
}

.left input[type="checkbox"] {
    margin-top: 5px;
    width: 25px;
}

.left.question {
    margin-left: 25px;
    padding-right: 15px;
    min-width: 200px;
}

fieldset.iceSelOneRb {
    padding: 0;
    margin: 0;
    border: none;
}

fieldset.iceSelOneRb td {
    padding-right: 25px;
}

fieldset.iceSelOneRb input[type="radio"] {
    margin-right: 5px;
}

#language-picker {
	position: absolute;
	right: 0;
	top: 115px;
}

#language-picker a {
	text-decoration: none;
	color: #22488b;
}













/* Retina Displays */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}

