<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	 >
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
<h:body>
	<h3>#{msg.buy_ducks}</h3>
	<h:messages globalOnly="true" layout="table"/>
	<p>
		<h:outputFormat value="#{msg.dear_x}">
			<f:param value="#{RegistrationBean.firstName}"/>
		</h:outputFormat>
	</p>
	<p>
		<h:outputFormat value="#{msg.account_information}">
			<f:param value="#{RegistrationBean.emailAddress}"/>
			<f:param value="#{RegistrationBean.totalCost}"/>
		</h:outputFormat>
	</p>
	<ul>
		<li><span>#{msg.belgian}: </span><b><h:outputText value="#{ApplicationConstants.accountNoBelgium}"/></b></li>
		<li><span>#{msg.iban}: </span><b><h:outputText value="#{ApplicationConstants.accountNoIban}"/></b></li>
		<li><span>#{msg.swift}: </span><b><h:outputText value="#{ApplicationConstants.accountNoSwift}"/></b></li>
	</ul>
	<p>
		<span>#{msg.use_the_following_message_in_your_transfer}: </span><b><span>EEND </span><h:outputText value="#{RegistrationBean.reservation.reservationId}"/></b><br/>
		<b>#{msg.reservation_attention}</b>
	</p>
	<p>
		#{msg.thank_you_for_your_cooperation}
	</p>
</h:body>
</f:view>
</html>
