<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
    <h:body>

        <h:form>
            <h3>#{msg.buy_ducks}</h3>
            <h:messages layout="table"/>
            <p>
                #{msg.choose_amount_of_ducks}<br/>
                #{msg.then_enter_your_details}<br/><br/>
                <i>#{msg.no_gadget_duck}</i>
            </p>
            <p>
                <h:outputFormat value="#{msg.first_x_fields_are_required}">
                    <f:param value="5"/>
                </h:outputFormat>
            </p>
            <div class="frm-row">
                <div class="frm-left">
                    <h:outputLabel for="duckAmount" value="#{msg.number_of_ducks}"/>
                    <h:selectOneMenu id="duckAmount" value="#{RegistrationBean.duckAmount}" rendered="#{!RegistrationBean.admin}">
                        <f:selectItems value="#{ApplicationConstants.duckAmounts}"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <ui:include src="../participant-info.xhtml"/>

            <div class="btn btn-small">
                <h:commandLink action="choose-action" value="#{msg.go_back}"/>
            </div>
            <div class="btn btn-small">
                    <h:commandLink action="#{RegistrationBean.createReservation}" value="#{msg.next}"/>
            </div>
        </h:form>
        <script type="text/javascript">
            jQuery(".autofocus").focus();
        </script>
    </h:body>
</f:view>
</html>
