<f:view xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">
	<ice:portlet>
		<ice:form>
			<div class="btn btn-large">
				<ice:commandLink action="#{NavigationBean.toHasLotRedirect}">
					<span class="buzz">#{msg.register}</span> #{msg.a_duck}
				</ice:commandLink>
			</div>
			<div class="btn btn-large">
				<ice:commandLink action="#{NavigationBean.toHasNoLotRedirect}">
					<span class="buzz">#{msg.buy}</span> #{msg.a_duck} #{msg.via}<br/>#{msg.bank_transfer}
				</ice:commandLink>
			</div>
			<div class="btn btn-large">
				<h:outputLink value="#{NavigationBean.paymentModuleURL}" target="_blank">
					<span class="buzz">#{msg.buy}</span> #{msg.a_duck} #{msg.via}<br/>Paypal #{msg.or_choice}
					Visa<br/><font size="2"><i>(#{msg.icw_abbreviation} BeHappy2.com)</i></font>
				</h:outputLink>
			</div>
		</ice:form>
	</ice:portlet>
</f:view>
