<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<p><span>Vul het gewonnen eendjesnummer in en klik op </span><b>OK</b></p>
			<p>
				<ice:inputText value="#{WinnerBean.number}" styleClass="autofocus" maxlength="7" style="margin-right: 15px;"/>
				<ice:commandButton action="#{WinnerBean.search}" value="OK"/>
			</p>
			<br/>
			<ice:panelGroup rendered="#{!empty WinnerBean.participant}">
				<h3>And the winner is...</h3>
				<p>
					<b>Naam: </b><ice:outputText value="#{WinnerBean.participant.fullName}"/><br/>
					<b>E-mailadres: </b><ice:outputText value="#{WinnerBean.participant.emailAddress}"/><br/>
					<b>Gsm-nummer: </b><ice:outputText value="#{WinnerBean.participant.formattedMobileNumber}"/>
				</p>
			</ice:panelGroup>
		</ice:form>
		<script type="text/javascript">
			jQuery(".autofocus").focus();
		</script>
	</ice:portlet>
</f:view>