<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head>
</h:head>
<h:body>

	<ace:messages globalOnly="true" style="table"/>
	<h:form>
			<h:commandButton value="Bekijk te verwerken reservaties" action="unapproved"/>
		<div style="margin-bottom: 25px"/>
	<h:panelGroup rendered="#{empty ReservationBean.approvedReservations}">
		<p>Het systeem bevat momenteel geen verwerkte reservaties.</p>
	</h:panelGroup>

		<ace:dataTable id="reservations"
					   value="#{ReservationBean.approvedReservations}"
					   var="_reservation"
					   styleClass="table"
					   rendered="#{!empty ReservationBean.approvedReservations}"
					   rowStyleClass="portlet-section-body results-row,portlet-section-body results-row alt"
					   paginator="true"
					   paginatorPosition="bottom"
					   rows="#{ReservationBean.nbApprovedPerPage}">

			<ace:column>
				<f:facet name="header">
					<h:outputText value="ID"/>
				</f:facet>
				<h:outputText value="#{_reservation.reservationId}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Datum"/>
				</f:facet>
				<h:outputText value="#{_reservation.reservationDate}">
					<f:convertDateTime pattern="dd-MM-yyyy"/>
				</h:outputText>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Naam"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.fullName}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Gsm-nummer"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.formattedMobileNumber}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="E-mailadres"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.emailAddress}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Eendjes"/>
				</f:facet>
				<h:outputText value="#{_reservation.numberLots}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Kostprijs"/>
				</f:facet>
				<h:outputText value="#{_reservation.totalCost}"/>
			</ace:column>
		</ace:dataTable>
		<br/>
	</h:form>
</h:body>
</html>