<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head>
</h:head>
<f:view>
<h:body>
	<ace:messages globalOnly="true" style="table"/>
	<h:form>
			<h:commandButton action="approved" value="Bekijk goedgekeurde reservaties"/>
		<ace:submitMonitor styleClass="myStatus" activeLabel="Even geduld terwijl de server je aanvraag behandelt... Gelieve deze pagina niet te verlaten."/>
		<div style="margin-bottom: 25px"/>
		<h:panelGroup rendered="#{empty ReservationBean.unapprovedReservations}">
			<p>Het systeem bevat momenteel geen te verwerken reservaties.</p>
		</h:panelGroup>


		<ace:dataTable id="reservations"
					   value="#{ReservationBean.unapprovedReservations}"
					   var="_reservation"
					   styleClass="table"
					   rendered="#{!empty ReservationBean.unapprovedReservations}"
					   rowStyleClass="portlet-section-body results-row,portlet-section-body results-row alt"
					   paginator="true"
					   paginatorPosition="bottom"
					   rows="#{ReservationBean.nbUnapprovedPerPage}">

			<ace:column>
				<f:facet name="header">
					<h:outputText value="ID"/>
				</f:facet>
				<h:outputText value="#{_reservation.reservationId}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Datum"/>
				</f:facet>
				<h:outputText value="#{_reservation.reservationDate}">
					<f:convertDateTime pattern="dd-MM-yyyy"/>
				</h:outputText>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Naam"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.fullName}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Gsm-nummer"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.formattedMobileNumber}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="E-mailadres"/>
				</f:facet>
				<h:outputText value="#{_reservation.participant.emailAddress}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Eendjes"/>
				</f:facet>
				<h:outputText value="#{_reservation.numberLots}"/>
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="Kostprijs"/>
				</f:facet>
				<h:outputText value="#{_reservation.totalCost}"/>
			</ace:column>
			<ace:column>
				<h:commandButton action="#{ReservationBean.approve(_reservation.reservationId)}" value="OK"
								onclick="return confirm('Ben je zeker dat je de registratie voor #{_reservation.participant.fullName} wil goedkeuren? ' +
									'Deze operatie kan niet ongedaan gemaakt worden.')"/>
			</ace:column>
			<ace:column>
				<h:commandButton action="#{ReservationBean.delete(_reservation)}" value="X"
								onclick="return confirm('Ben je zeker dat je de registratie voor #{_reservation.participant.fullName} wil verwijderen? Deze ' +
									'operatie kan niet ongedaan gemaakt worden.')"/>
			</ace:column>
		</ace:dataTable>
		<br/>
	</h:form>
</h:body>
</f:view>
</html>
