/* ------------------- Fonts ------------------- */

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans/OpenSansRegular.eot');
  src: url('../fonts/OpenSans/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansRegular.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSansRegular#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans/OpenSansLight.eot');
  src: url('../fonts/OpenSans/OpenSansLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansLight.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSansLight#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans/OpenSansBold.eot');
  src: url('../fonts/OpenSans/OpenSansBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansBold.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSansBold#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans/OpenSansSemibold.eot');
  src: url('../fonts/OpenSans/OpenSansSemibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSansSemibold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSansSemibold.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSansSemibold#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ------------------- HEADINGS ------------------- */
h1,h2,h3,h4,h5,h6 {
  color: #22488b;
  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0 0 15px;
}

h3, h5 {
  color: #dab82a;
}

h1 							{ font-size: 24px; }
h2 							{ font-size: 20px; }
h3 							{ font-size: 18px; }
h4 							{ font-size: 16px; }
h5 							{ font-size: 14px; }
h6 							{ font-size: 12px; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{ margin: 0; }

p {
  margin-bottom: 1em;
}


/* ------------------- Margins ------------------- */

.no-margin					{ margin: 0; }

.margin-top-15				{ margin-top: 15px; }
.margin-right-15			{ margin-right: 15px; }
.margin-bottom-15			{ margin-bottom: 15px; }
.margin-left-15			{ margin-left: 15px; }

.margin-top-20				{ margin-top: 20px; }
.margin-right-20			{ margin-right: 20px; }
.margin-bottom-20			{ margin-bottom: 20px; }
.margin-left-20			{ margin-left: 20px; }

.margin-top-10				{ margin-top: 10px; }
.margin-right-10			{ margin-right: 10px; }
.margin-bottom-10			{ margin-bottom: 10px; }
.margin-left-10			{ margin-left: 10px; }

.margin-top-5				{ margin-top: 5px; }
.margin-right-5			{ margin-right: 5px; }
.margin-bottom-5			{ margin-bottom: 5px; }
.margin-left-5				{ margin-left: 5px; }

.margin-top-min10			{ margin-top: -10px; }
.margin-right-min10		{ margin-right: -10px; }
.margin-bottom-min10		{ margin-bottom: -10px; }
.margin-left-min10		{ margin-left: -10px; }

.margin-top-min5			{ margin-top: -5px; }
.margin-right-min5		{ margin-right: -5px; }
.margin-bottom-min5		{ margin-bottom: -5px; }
.margin-left-min5			{ margin-left: -5px; }

.margin-5					{ margin: 5px; }
.margin-10					{ margin: 10px; }
.margin-15					{ margin: 15px; }
.margin-20					{ margin: 20px; }

/* ------------------- Paddings ------------------- */

.no-padding					{ padding: 0; }

.padding-top-15			{ padding-top: 15px; }
.padding-right-15			{ padding-right: 15px; }
.padding-bottom-15		{ padding-bottom: 15px; }
.padding-left-15			{ padding-left: 15px; }

.padding-top-20			{ padding-top: 20px; }
.padding-right-20			{ padding-right: 20px; }
.padding-bottom-20		{ padding-bottom: 20px; }
.padding-left-20			{ padding-left: 20px; }

.padding-top-10			{ padding-top: 10px; }
.padding-right-10			{ padding-right: 10px; }
.padding-bottom-10		{ padding-bottom: 10px; }
.padding-left-10			{ padding-left: 10px; }

.padding-top-5				{ padding-top: 5px; }
.padding-right-5			{ padding-right: 5px; }
.padding-bottom-5			{ padding-bottom: 5px; }
.padding-left-5			{ padding-left: 5px; }

.padding-top-min10		{ padding-top: -10px; }
.padding-right-min10		{ padding-right: -10px; }
.padding-bottom-min10	{ padding-bottom: -10px; }
.padding-left-min10		{ padding-left: -10px; }

.padding-top-min5			{ padding-top: -5px; }
.padding-right-min5		{ padding-right: -5px; }
.padding-bottom-min5		{ padding-bottom: -5px; }
.padding-left-min5		{ padding-left: -5px; }

.padding-5					{ padding: 5px; }
.padding-10					{ padding: 10px; }
.padding-15					{ padding: 15px; }
.padding-20					{ padding: 20px; }

/* ------------------- Border-radius ------------------- */

.border-radius-0			{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.border-radius-1			{ -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.border-radius-2			{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.border-radius-3			{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.border-radius-4			{ -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.border-radius-5			{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.border-radius-6			{ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }


/* ------------------- Elements ------------------- */

*, *:before, *:after 	{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container 					{ width: 970px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.overflow-hidden 			{ overflow: hidden; }
.overflow-visible			{ overflow: visible; }
.overflow-scroll			{ overflow: scroll; }

/* ------------------- Base ------------------- */

html, body {
  height: 100%;
}

body {
  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  color: #555;
  background: #fff;
  .flipped {
    height: 100%;
  }
}

#wrapper {
  min-height: 100%;
  margin-bottom: -90px;

  &:after {
    content: "";
    display: block;
    height: 90px;
  }
}

a {
  color: #E5720D;
  outline: none;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  outline: none;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:focus, a:active {
  outline: none;
}
