#footer {
  -webkit-box-shadow: 2px 2px 15px 0px #888;
  box-shadow: 2px 2px 15px 0px #888;
  height: 90px;
  margin-top: 20px;
  padding: 20px;
  background: #20498E;
  color: #ffffff;

  .powered-by {
    text-align: center;
    font-size: 0.9em;
    margin: 0;
    color: #888;
    a {
      color: white;
      text-decoration: none;
    }
    img {
      padding: 5px;
      margin: 0 8px;
    }
  }

  img {
    margin: 0 30px;
  }
}