#banner-new {
  margin-bottom: 20px;
  background: #E7EEF3;

  #language-picker {
    position: absolute;
    right: 0;
    top: 115px;
    .portlet-content {
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: #22488b;
    }

    .portlet-title-text {
      display: none;
    }
  }

  #counter {
    position: absolute;
    right: -120px;
    bottom: 15px;
    width: 240px;
    text-align: center;
  }
}

#wrapper .theme-container {
  position: relative;
  width: 970px;
  margin: 0 auto;
}

.site #wrapper {
  padding-top: 0;
}

#navigation {
  background: #9ca6ae;
  color: #fff;
  height: 40px;

  a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > div {
    > ul {
      > li {
        list-style: none;
        display: inline-block;
        float: left;
        position: relative;
        > a {
          padding: 10px 20px;
          display: inline-block;
          background: url(../images/bg-menu-hover.png) center bottom -24px no-repeat;
          color: #fff;
          text-decoration: none;
          &:hover {
            background: #dab82a url(../images/bg-menu-hover.png) center bottom -14px no-repeat;
          }
        }
        &.selected > a {
          background: #dab82a url(../images/bg-menu-hover.png) center bottom -14px no-repeat;
        }
        &:hover {
          .child-menu {
            display: block;
            position: absolute;

          }
        }
      }
    }
  }

  .child-menu {
    padding: 10px 0 0;
    display: none;
    z-index: 2;
    > li {
      a {
        background: #A2AFB9;
        color: #fff;
        display: inline-block;
        min-width: 250px;
        padding: 10px 20px;
        white-space: nowrap;
        border-top: 1px solid #fff;

        &:hover {
          background: #dab82a;
        }
      }

    }
  }

}