.login-container {
  fieldset {
    .fieldset {
      > div {
        float: left;
      }
      .form-group {
        clear: both;
        text-align: right;
        line-height: 25px;
        label {
          float: left;
          padding-right: 15px;
          margin-bottom: 0;
          line-height: 34px;
        }
        .form-control {
          display: inline-block;
          width: 200px;
        }
      }

      input[type="checkbox"] {
        margin: 0;
        vertical-align: middle;
      }
    }
  }
}

.portlet-login .portlet-content {
  border: none;
}