.sponsor-intro{
  min-height:171px;
  height:auto!important;
  height:171px;
  margin-bottom:25px;
  padding-bottom:30px;
  background:transparent url('../images/sponsor-intro.jpg') no-repeat 10px bottom
}
.sponsor-info{width:400px;margin-left:430px}

input[type="submit"] {
  background: transparent;
  border: 0px;
}

.ice-linkbutton.ui-state-hover {
  background: transparent;
}

.ice-linkbutton a {
  color: white !important;
}
.left{float:left}
.right{float:right}


.frm-row {
  margin-bottom: 15px;
}

.frm-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.frm-row > div > * {
  display: block;
}

.frm-row input[type="text"] {
  width: 400px;
  font-size: 18px;
  padding: 5px 10px;
  color: #22488b;
  border: 2px solid #dab82a;
  border-radius: 5px;
}

.frm-row .info {
  font-size: 0.9em;
}

.frm-row label {
  font-weight: bold;
}

.frm-row .btn-small {
  margin-left: 15px;
}

input, textarea {
  outline: none;
}

.left input[type="checkbox"] {
  margin-top: 5px;
  width: 25px;
}

.left.question {
  margin-left: 25px;
  padding-right: 15px;
  min-width: 200px;
}

.btn {
  display: block;
  margin: 15px 0;
  background: #dab82a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.btn:hover {
  background: #22488b;
}

.btn a {
  color: white;
  display: inline-block;
}

.btn-large {
  display: block;
  margin: 15px;
  text-align: center;
}

.btn-small {
  display: inline-block;
  margin-right: 20px;
}


.btn-large a {
  padding: 15px 50px 20px;
  font-size: 1.5em;
}

.btn-small a {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.btn-large a .buzz {
  font-family: OpenSansBold;
  font-size: 1.3em;
  line-height: 1.3em;
  display: block;
}

// new style...

.btn.btn-large {
  font-size: 10px;
  padding: 10px;
}

.btn.btn-small * {

  padding: 5px 10px;
}

.btn.btn-small *,
.btn.btn-large * {
  text-decoration: none !important;
}

.btn.btn-large a {
  padding: 0 !important;
  margin: 0;
}

h2 {
  font-size: 20px !important;
  color: #dab82a !important;
}

h2.portlet-title-text {
  font-size: 26px !important;
  color: #20498e !important;
}

input {
  background: none !important;
}

#counter {
  right: -30px !important;
}
#banner-new img {
  margin-left: -90px;
}

#footer img {
  margin: 0 10px !important;
  padding: 0 !important;
}

#banner-new .child-menu {
  margin-top: -10px !important;
}

body.has-control-menu.open form {
  padding: 10px 20px;
}

input[type="submit"] {
  background: #dab82a !important;
}

input[type="submit"]:hover {
  background: #22488b !important;
}

table * {
  font-size: 16px !important;
}

.ui-state-hover {
  background: none !important;
}

.ui-widget-header {
  background: #eeeeee !important;
}
.portlet-msg-error,
.portlet-msg-success,
.portlet-msg-warning,
.portlet-msg-info {
  display: block;
  padding: 10px !important;
  margin: 10px 0 !important;
}

.button-holder.dialog-footer {
  padding: 0 !important;
}

.button-holder.dialog-footer a {
  display: inline !important;
  background: none !important;
}

section.portlet .lfr-asset-metadata {
  display: none;
}

#sign-in {
  display: none;
}