<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
    <h:body>
        <h:form>
            <ace:messages globalOnly="true" style="table"/>

            <div class="right">
                <div class="btn btn-large">
                    <ace:linkButton action="#{NavigationBean.toHasLot}"
                        value="&lt;span class='buzz'&gt;#{msg.register}&lt;/span&gt; #{msg.a_duck}">
                    </ace:linkButton>
                </div>

                <div class="btn btn-large">
                    <ace:linkButton action="#{NavigationBean.toHasNoLotRedirect}"
                        value="&lt;span class='buzz'&gt;#{msg.buy}&lt;/span&gt; #{msg.a_duck} #{msg.via}&lt;br/&gt;#{msg.bank_transfer}">
                    </ace:linkButton>
                </div>

            </div>

            <h2>#{msg.my_ducks}</h2>
            <p>
                #{msg.already_bought_a_ticket}<br/>
                <b>#{msg.register}</b> #{msg.a_duck}.
            </p>
            <p>
                #{msg.no_ticket_yet}<br/>
                #{msg.buy_a_duck}
            </p>
            <p>
                <i>#{msg.no_real_duck}</i>
            </p>

        </h:form>
    </h:body>
</f:view>
</html>