<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core" >
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
<h:body>
		<h:form>
			<script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery('.proceed').click();
                });
			</script>
			<h:commandButton styleClass="proceed" style="background: transparent !important;" action="#{NavigationBean.navigate}"/>
		</h:form>
</h:body>
</f:view>
</html>


