<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:ace="http://www.icefaces.org/icefaces/components"
>

    <div class="frm-row">
        <div class="left">
            <h:outputLabel for="firstName" value="#{msg.first_name} *"/>
            <h:inputText styleClass="autofocus" value="#{RegistrationBean.firstName}" id="firstName"
                         label="#{msg.first_name}"/>
        </div>
        <div class="right">
            <h:outputLabel for="lastName" value="#{msg.last_name} *"/>
            <h:inputText value="#{RegistrationBean.lastName}" id="lastName" label="#{msg.last_name}"/>
        </div>
    </div>
    <div class="frm-row">
        <div class="left">
            <h:outputLabel for="emailAddress" value="#{msg.email_address} *"/>
            <h:inputText value="#{RegistrationBean.emailAddress}" id="emailAddress" label="#{msg.email_address}"/>
            <h:outputText styleClass="info" value="#{msg.for_instance} jan.janssen@test.be"/>
        </div>
        <div class="right">
            <h:outputLabel for="mobileNumber" value="#{msg.mobile_number} *"/>
            <h:inputText value="#{RegistrationBean.mobileNumber}" id="mobileNumber" label="#{msg.mobile_number}"/>
            <h:outputText styleClass="info"
                          value="#{msg.for_instance} 0479/51.42.20 #{msg.or_choice} (+32)479/51.42.20"/>
        </div>
    </div>
    <div class="portlet-msg-info">
        #{msg.want_to_participate_in_mercedes_contest} #{msg.more_info} <a target="_blank"
                                                                           href="http://www.jantimmers.be/">#{msg.click_here}</a>
    </div>

    <h:panelGroup id="isMercedesContest">
        <div class="frm-row">
            <div class="left">
                <h:selectBooleanCheckbox id="contestParticipant" value="#{ContestBean.contestParticipant}">
                    <ace:ajax execute="@this" render="isMercedesContest" />
                </h:selectBooleanCheckbox>
            </div>
            <div class="left">
                <h:outputLabel for="contestParticipant" value="#{msg.yes_i_want_to_participate}"/>
            </div>
        </div>

        <h:panelGroup display="block" rendered="#{ContestBean.contestParticipant}">
            <div class="frm-row">
                <div class="left question">#{msg.i_drive_a} Mercedes</div>
                <div class="left">
                    <h:selectOneMenu value="#{ContestBean.mercedesDriver}" >
                        <f:selectItem itemLabel="" itemValue="#{null}"/>
                        <f:selectItem itemLabel="#{msg.yes}" itemValue="#{true}"/>
                        <f:selectItem itemLabel="#{msg.no}" itemValue="#{false}"/>
                        <ace:ajax execute="@this" render="isMercedesContest" />
                    </h:selectOneMenu>
                </div>
            </div>

            <h:panelGroup rendered="#{!empty ContestBean.mercedesDriver and ContestBean.effectiveMercedesDriver}">
                <div class="frm-row">
                    <div class="left question">#{msg.my_mercedes_is}</div>
                    <div class="left">
                        <h:selectOneRadio value="#{ContestBean.mercedesOld}" partialSubmit="true" layout="pageDirection">
                            <f:selectItem itemLabel="#{msg.four_years_or_older}" itemValue="#{true}"/>
                            <f:selectItem itemLabel="#{msg.less_than_four_years}" itemValue="#{false}"/>
                            <ace:ajax execute="@this" render="isMercedesContest" />
                        </h:selectOneRadio>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{!empty ContestBean.mercedesDriver and !ContestBean.effectiveMercedesDriver}">
                <div class="frm-row">
                    <div class="left question">#{msg.i_drive_a}</div>
                    <div class="left">
                        <h:selectOneMenu value="#{ContestBean.carType}" partialSubmit="true">
                            <f:selectItem itemLabel="" itemValue="#{null}"/>
                            <f:selectItem itemLabel="Audi" itemValue="Audi"/>
                            <f:selectItem itemLabel="BMW" itemValue="BMW"/>
                            <f:selectItem itemLabel="Volvo" itemValue="Volvo"/>
                            <f:selectItem itemLabel="Jeep" itemValue="Jeep"/>
                            <f:selectItem itemLabel="#{msg.other}" itemValue="Andere"/>
                            <ace:ajax execute="@this" render="isMercedesContest" />
                        </h:selectOneMenu>
                    </div>
                </div>

                <h:panelGroup rendered="#{ContestBean.carType == 'Andere'}">
                    <div class="frm-row">
                        <div class="left question">#{msg.what_type_of_car_you_drive}</div>
                        <div class="left">
                            <h:inputText value="#{ContestBean.otherCarType}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>

    <div class="frm-row">
        <h:graphicImage value="/img/balloon.png" alt="#{msg.balloon}" styleClass="left margin-right-5"/>
        <h:graphicImage value="/img/bestelwagen.png" alt="#{msg.truck}" styleClass="left margin-right-5"/>
        <h:graphicImage value="/img/groep_jam_logo.png" alt="#{msg.logo}" styleClass="left margin-right-5"/>
    </div>

</ui:composition>


