<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
    <h:body>
        <h:form styleClass="focusform">
            <h3>#{msg.query_duck_numbers}</h3>
            <ace:messages globalOnly="true" style="table"/>
            <p>#{msg.query_duck_numbers_info}</p>
            <div class="frm-row">
                <ace:textEntry styleClass="autofocus" value="#{QueryBean.mobileNumber}"/>
            </div>
            <div class="btn btn-small">
                <h:commandLink action="#{QueryBean.findLotNumbers}" value="#{msg.show_duck_numbers}"/>
            </div>
            <br/><br/>
            <div class="container-numbers">
                <h:panelGroup rendered="#{!empty QueryBean.lotNumbers}">
                    <h3>
                        <h:outputFormat value="#{msg.duck_numbers_for_mobile_number_x}">
                            <f:param value="#{QueryBean.formattedMobileNumber}"/>
                        </h:outputFormat>
                    </h3>
                    <ace:dataTable value="#{QueryBean.lotNumbers}" var="_number">
                        <ace:column>
                            <h:outputText value="#{_number}"/>
                        </ace:column>
                    </ace:dataTable>
                </h:panelGroup>
            </div>
        </h:form>
        <script type="text/javascript">
            jQuery(".autofocus").focus();
        </script>
    </h:body>
</f:view>
</html>
