<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<p>
				<ice:commandButton value="Bekijk te verwerken reservaties" action="unapproved"/>
			</p>
			<ice:panelGroup rendered="#{empty ReservationBean.approvedReservations}">
				<p>Het systeem bevat momenteel geen verwerkte reservaties.</p>
			</ice:panelGroup>
			<ice:dataTable id="reservations" value="#{ReservationBean.approvedReservations}" var="_reservation" 
				rowClasses="portlet-section-body results-row,portlet-section-body results-row alt" headerClass="header" styleClass="table"
				columnClasses="right,center,left,center,left,center,center,center,center" rendered="#{!empty ReservationBean.approvedReservations}" 
				rows="#{ReservationBean.nbApprovedPerPage}">
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="ID"/>
					</f:facet>
					<ice:outputText value="#{_reservation.reservationId}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Datum"/>
					</f:facet>
					<ice:outputText value="#{_reservation.reservationDate}">
						<f:convertDateTime pattern="dd-MM-yyyy"/>
					</ice:outputText>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Naam"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.fullName}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Gsm-nummer"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.formattedMobileNumber}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="E-mailadres"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.emailAddress}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Eendjes"/>
					</f:facet>
					<ice:outputText value="#{_reservation.numberLots}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Kostprijs"/>
					</f:facet>
					<ice:outputText value="#{_reservation.totalCost}"/>
				</ice:column>
			</ice:dataTable>
			<br/>
			<ice:dataPaginator styleClass="paginator" for="reservations" fastStep="10" paginator="true" paginatorMaxPages="10" rendered="#{ReservationBean.enoughApproved}">
				<f:facet name="first"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-first.gif"/></f:facet>
				<f:facet name="last"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-last.gif"/></f:facet>
                <f:facet name="previous"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-previous.gif"/></f:facet>
                <f:facet name="next"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-next.gif"/></f:facet>
                <f:facet name="fastforward"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-ff.gif"/></f:facet>
                <f:facet name="fastrewind"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-fr.gif"/></f:facet>
			</ice:dataPaginator>
		</ice:form>
	</ice:portlet>
</f:view>