<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<p>
				<ice:commandButton value="Bekijk goedgekeurde reservaties" action="approved"/>
			</p>
			<ice:outputConnectionStatus styleClass="myStatus" activeLabel="Even geduld terwijl de server je aanvraag behandelt... Gelieve deze pagina niet te verlaten."/>
			<br/>
			<ice:panelGroup rendered="#{empty ReservationBean.unapprovedReservations}">
				<p>Het systeem bevat momenteel geen te verwerken reservaties.</p>
			</ice:panelGroup>
			<ice:dataTable id="reservations" value="#{ReservationBean.unapprovedReservations}" var="_reservation" binding="#{ReservationBean.dataTable}"
				rowClasses="portlet-section-body results-row,portlet-section-body results-row alt" headerClass="header" styleClass="table"
				columnClasses="right,center,left,center,left,center,center,center,center" rendered="#{!empty ReservationBean.unapprovedReservations}"
				rows="#{ReservationBean.nbUnapprovedPerPage}">
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="ID"/>
					</f:facet>
					<ice:outputText value="#{_reservation.reservationId}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Datum"/>
					</f:facet>
					<ice:outputText value="#{_reservation.reservationDate}">
						<f:convertDateTime pattern="dd-MM-yyyy"/>
					</ice:outputText>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Naam"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.fullName}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Gsm-nummer"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.formattedMobileNumber}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="E-mailadres"/>
					</f:facet>
					<ice:outputText value="#{_reservation.participant.emailAddress}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Eendjes"/>
					</f:facet>
					<ice:outputText value="#{_reservation.numberLots}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Kostprijs"/>
					</f:facet>
					<ice:outputText value="#{_reservation.totalCost}"/>
				</ice:column>
				<ice:column>
					<ice:commandButton styleClass="actionButton" action="#{ReservationBean.approve}" value="OK"
						onclick="this.disabled=true; if(!confirm('Ben je zeker dat je de registratie voor #{_reservation.participant.fullName} wil goedkeuren? Deze operatie kan niet ongedaan gemaakt worden.')){this.disabled=false; return;};"/>
				</ice:column>
				<ice:column>
					<ice:commandButton styleClass="actionButton" action="#{ReservationBean.delete}" value="X"
						onclick="this.disabled=true; if(!confirm('Ben je zeker dat je de registratie voor #{_reservation.participant.fullName} wil verwijderen? Deze operatie kan niet ongedaan gemaakt worden.')){this.disabled=false; return;};"/>
				</ice:column>
			</ice:dataTable>
			<br/>
			<ice:dataPaginator styleClass="paginator" for="reservations" fastStep="10" paginator="true" paginatorMaxPages="10" rendered="#{ReservationBean.enoughUnapproved}">
				<f:facet name="first"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-first.gif"/></f:facet>
				<f:facet name="last"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-last.gif"/></f:facet>
                <f:facet name="previous"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-previous.gif"/></f:facet>
                <f:facet name="next"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-next.gif"/></f:facet>
                <f:facet name="fastforward"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-ff.gif"/></f:facet>
                <f:facet name="fastrewind"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-fr.gif"/></f:facet>
			</ice:dataPaginator>
		</ice:form>
	</ice:portlet>
</f:view>