<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">

	<ice:portlet>
		<ice:form>
			<ice:messages globalOnly="true" layout="table"/>
			
			<div class="right">
				<div class="btn btn-large">
					<ice:commandLink action="#{NavigationBean.toHasLot}">
						<span class="buzz">#{msg.register}</span> #{msg.a_duck}
					</ice:commandLink>
				</div>
				<div class="btn btn-large">
					<ice:commandLink action="#{NavigationBean.toHasNoLotRedirect}">
						<span class="buzz">#{msg.buy}</span> #{msg.a_duck} #{msg.via}<br/>#{msg.bank_transfer}
					</ice:commandLink>
				</div>
				<div class="btn btn-large">
					<h:outputLink value="#{NavigationBean.paymentModuleURL}" target="_blank">
						<span class="buzz">#{msg.buy}</span> #{msg.a_duck} #{msg.via}<br/>Paypal #{msg.or_choice}
						Visa<br/><font size="2"><i>(#{msg.icw_abbreviation} BeHappy2.com)</i></font>
					</h:outputLink>
				</div>
			</div>
			
			<h2>#{msg.my_ducks}</h2>
			<p>
				#{msg.already_bought_a_ticket}<br/>
				<b>#{msg.register}</b> #{msg.a_duck}.
			</p>
			<p>
				#{msg.no_ticket_yet}<br/>
				#{msg.buy_a_duck}
			</p>

			<p>
				<i>#{msg.no_real_duck}</i>
			</p>

		</ice:form>
	</ice:portlet>
</f:view>
