<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">
	<ice:portlet>
		<ice:form>
			<script type="text/javascript">
				jQuery(function(){
					jQuery(".proceed").click();
				});
			</script>
		
			<ice:commandButton styleClass="proceed" action="#{NavigationBean.navigate}"/>
		</ice:form>
	</ice:portlet>
</f:view>