#set ($portlet_display = $portletDisplay)

#set ($portlet_id = $htmlUtil.escape($portlet_display.getId()))
#set ($portlet_title = $portlet_display.getTitle())
#set ($portlet_content = $portlet_display.getContent())
#set ($portlet_back_url = $htmlUtil.escape($portlet_display.getURLBack()))

<div class="portlet" id="portlet-wrapper-$portlet_id">
	<div class="portlet-topper">
		<span class="portlet-title">
			$theme.iconPortlet() $portlet_title
		</span>

		<div class="portlet-icons" id="portlet-small-icon-bar_$portlet_id">
			#if ($portlet_display.isShowBackIcon())
				<a href="$portlet_back_url" class="portlet-icon-back">#language ("return-to-full-page")</a>
			#else
				$theme.iconOptions()
				$theme.iconMinimize()
				$theme.iconMaximize()
				$theme.iconClose()
			#end
		</div>
	</div>

	<div class="portlet-content">
		$portlet_content
	</div>
</div>