<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
>
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
    <h:body>
        <h:form styleClass="focusform">
            <h3>#{msg.register_a_duck}</h3>
            <h:messages globalOnly="true" layout="table"/>
            <div>
                <h:panelGroup styleClass="frm-row" rendered="#{!RegistrationBean.codeOk}">
                    <p>#{msg.registration_step_1}</p>
                    <h:inputText styleClass="autofocus" value="#{RegistrationBean.code}"
                                 readonly="#{RegistrationBean.codeOk}" maxlength="6"/>
                    <div class="btn btn-small">
                        <h:commandLink action="#{RegistrationBean.verifyCode}" value="#{msg.ok}"/>
                    </div>
                </h:panelGroup>
                <p><b><h:outputText value="#{RegistrationBean.code}" rendered="#{RegistrationBean.codeOk}"/></b></p>
            </div>
            <h:panelGroup layout="block" rendered="#{RegistrationBean.codeOk}">
                <h:panelGroup styleClass="frm-row" rendered="#{!RegistrationBean.checksumOk}">
                    <p>#{msg.registration_step_2}</p>
                    <h:inputText value="#{RegistrationBean.checksum}" maxlength="3"
                                 rendered="#{!RegistrationBean.checksumOk}"/>
                    <div class="btn btn-small">
                        <h:commandLink action="#{RegistrationBean.verifyChecksum}" value="#{msg.ok}"/>
                    </div>
                </h:panelGroup>
                <p><b><h:outputText value="#{RegistrationBean.checksum}"
                                    rendered="#{RegistrationBean.checksumOk}"/></b></p>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="btn-holder" rendered="#{RegistrationBean.checksumOk}">
                <div class="btn btn-small">
                    <h:commandLink action="#{RegistrationBean.registerAnother}" value="#{msg.register_another_lot}"/>
                </div>
            </h:panelGroup>

            <div class="btn btn-small">
                <h:commandLink action="#{RegistrationBean.goBack}" value="#{msg.go_back}"/>
            </div>
        </h:form>
        <script type="text/javascript">
            jQuery(".autofocus").focus();
        </script>
    </h:body>
</f:view>
</html>
