<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head></h:head>
<f:view locale="#{ApplicationConstants.locale}">
    <h:body>
        <h:form styleClass="focusform">
            <h3>#{msg.register_a_duck}</h3>
            <h:messages layout="table"/>
            <p>
                #{msg.enter_your_details}<br/>
                <h:outputFormat value="#{msg.first_x_fields_are_required}">
                    <f:param value="4"/>
                </h:outputFormat>
            </p>

            <ui:include src="../participant-info.xhtml"/>

            <div class="btn btn-small">
                <h:commandLink action="choose-action" value="#{msg.go_back}"/>
            </div>
            <div class="btn btn-small">
                    <h:commandLink action="#{RegistrationBean.toEnterCode}" value="#{msg.next}"/>
            </div>
        </h:form>
        <script type="text/javascript">
            jQuery(".autofocus").focus();
        </script>
    </h:body>
</f:view>
</html>
