<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component" locale="#{ApplicationConstants.locale}">

	<ice:portlet>
		<ice:form styleClass="focusform">
			<h2>#{msg.query_duck_numbers}</h2>
			<ice:messages globalOnly="true" layout="table"/>
			<p>#{msg.query_duck_numbers_info}</p>
			<div class="frm-row">
				<ice:inputText styleClass="autofocus" value="#{QueryBean.mobileNumber}"/>
			</div>
			<div class="btn btn-small">
				<ice:commandLink value="#{msg.show_duck_numbers}" action="#{QueryBean.findLotNumbers}"/>
			</div>
			<br/><br/>
			<div class="container-numbers">
				<ice:panelGroup rendered="#{!empty QueryBean.lotNumbers}">
					<h3>
						<ice:outputFormat value="#{msg.duck_numbers_for_mobile_number_x}">
							<f:param value="#{QueryBean.formattedMobileNumber}"/>
						</ice:outputFormat>
					</h3>
					<ice:dataTable value="#{QueryBean.lotNumbers}" var="_number">
						<ice:column>
							<ice:outputText value="#{_number}"/>
						</ice:column>
					</ice:dataTable>
				</ice:panelGroup>
			</div>
		</ice:form>
		<script type="text/javascript">
			jQuery(".autofocus").focus();
		</script>
	</ice:portlet>
</f:view>
