<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:form>
			<fieldset>
				<legend>Deelnemer aanpassen</legend>
				<ice:panelGrid columns="2" styleClass="padding-table">
					<ice:outputLabel for="firstName" value="Voornaam: "/>
					<ice:inputText id="firstName" value="#{ParticipantsBean.firstName}"/>
					
					<ice:outputLabel for="lastName" value="Achternaam: "/>
					<ice:inputText id="lastName" value="#{ParticipantsBean.lastName}"/>
					
					<ice:outputLabel for="mobileNumber" value="Gsm-nummer: "/>
					<ice:inputText id="mobileNumber" value="#{ParticipantsBean.formattedMobileNumber}"/>
					
					<ice:outputLabel for="emailAddress" value="E-mailadres: "/>
					<ice:inputText id="emailAddress" value="#{ParticipantsBean.emailAddress}"/>
					
					<ice:outputText value=""/>
					<ice:commandButton value="Opslaan" action="#{ParticipantsBean.save}"/>
				</ice:panelGrid>
			</fieldset>
			<br/>
			<ice:commandButton value="Ga terug" action="#{ParticipantsBean.goBack}"/>
		</ice:form>
	</ice:portlet>
</f:view>