<f:view xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:portlet>
		<ice:messages globalOnly="true" layout="table"/>
		<ice:outputStyle href="../../registration-portlet/xmlhttp/css/xp/xp-portlet.css"/>
		<ice:form>
			<fieldset class="part-fieldset">
				<legend>Deelnemers zoeken</legend>
				<ice:panelGrid columns="5" styleClass="padding-table">
					<ice:outputLabel for="mobileNumber" value="Gsm-nummer"/>
					<ice:outputLabel for="emailAddress" value="E-mailadres"/>
					<ice:outputLabel for="firstName" value="Voornaam"/>
					<ice:outputLabel for="lastName" value="Achternaam"/>
					<ice:outputText value=""/>
					
					<ice:inputText id="mobileNumber" value="#{ParticipantsBean.formattedMobileNumber}"/>
					<ice:inputText id="emailAddress" value="#{ParticipantsBean.emailAddress}"/>
					<ice:inputText id="firstName" value="#{ParticipantsBean.firstName}"/>
					<ice:inputText id="lastName" value="#{ParticipantsBean.lastName}"/>
					<ice:commandButton value="Zoeken" action="#{ParticipantsBean.search}"/>
				</ice:panelGrid>
			</fieldset>
			<br/>
			<ice:panelGroup rendered="#{empty ParticipantsBean.participants}">
				<p>Geen deelnemers gevonden.</p>
			</ice:panelGroup>
			<ice:dataTable id="participants" value="#{ParticipantsBean.participants}" var="_participant" binding="#{ParticipantsBean.table}"
				rowClasses="portlet-section-body results-row,portlet-section-body results-row alt" headerClass="header" styleClass="table"
				columnClasses="left,left,left,left,center" rendered="#{!empty ParticipantsBean.participants}" 
				rows="#{ParticipantsBean.nbParticipantsPerPage}">
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="ID"/>
					</f:facet>
					<ice:outputText value="#{_participant.participantId}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Voornaam"/>
					</f:facet>
					<ice:outputText value="#{_participant.firstName}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Achternaam"/>
					</f:facet>
					<ice:outputText value="#{_participant.lastName}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="Gsm-nummer"/>
					</f:facet>
					<ice:outputText value="#{_participant.formattedMobileNumber}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="E-mailadres"/>
					</f:facet>
					<ice:outputText value="#{_participant.emailAddress}"/>
				</ice:column>
				<ice:column>
					<ice:commandButton styleClass="actionButton" action="#{ParticipantsBean.toParticipant}" value="Aanpassen"/>
				</ice:column>
			</ice:dataTable>
			<br/>
			<ice:dataPaginator styleClass="paginator" for="participants" fastStep="10" paginator="true" paginatorMaxPages="10" rendered="#{ParticipantsBean.enoughParticipants}">
				<f:facet name="first"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-first.gif"/></f:facet>
				<f:facet name="last"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-last.gif"/></f:facet>
                <f:facet name="previous"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-previous.gif"/></f:facet>
                <f:facet name="next"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-next.gif"/></f:facet>
                <f:facet name="fastforward"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-ff.gif"/></f:facet>
                <f:facet name="fastrewind"><ice:graphicImage url="../../registration-portlet/xmlhttp/css/xp/css-images/arrow-fr.gif"/></f:facet>
			</ice:dataPaginator>
		</ice:form>
	</ice:portlet>
</f:view>