/* This CSS sets the default styles for the base components. */

/* ---------- Wrapper ---------- */

.green #wrapper {
	background-image: url(../../images/color_schemes/green/common/body_bg.png);
}

/* ---------- Links ---------- */

.green a {
	color: #5f9930;
}

.green a:hover {
	color: #5bcc00;
}

/* ---------- Banner ---------- */

.green #banner {
	background-image: url(../../images/color_schemes/green/common/banner_bg.jpg);
}

/* ---------- Portal tool tips ---------- */

.green .portal-tool-tip {
	color: #24291e;
}

/* ---------- Application styling ---------- */

.green .ui-wrapper {
	border-color: #8e9582;
}

.green .results-header {
	background-color: #7a8171;
}

.green .ui-autocomplete-even, .green .results-row td {
	background-color: #eff3ea;
}

.green .ui-autocomplete-odd, .green .results-row.alt td {
	background-color: #d9ddd3;
}

.green .ui-autocomplete-over, .green .results-row.hover td {
	background-color: #d2eda8;
}

.green #content-wrapper #layout-grid.dragging .lfr-column {
	border-color: #8e9582;
}

.green .drag-proxy-indicator {
	border-color: 2px dashed #253710;
}

.green .drop-area {
	background-color: #d9ddd3;
}

.green .ui-drag-helper {
	border-color: #8e9582;
	background-color: #d9ddd3;
}

.green .ui-slider-range {
	background: #24291e;
}

.green .ui-tabs li {
	background-color: #8e9387;
	border-right-color: #3e4930;
}

.green .ui-tabs li.current {
	background-color: #fff;
	border-color: #dedede;
}

.green .ui-tabs li:hover, .green .ui-tabs li a:hover {
	background-color: #24291e;
	color: #b4c39e;
}

.green .ui-tabs li.current a, .green .ui-tabs li.current span {
	color: #5f9930;
}

.green .ui-tabs li.current:hover, .green .ui-tabs li.current a:hover {
	background-color: #fff;
}

.green .ui-dialog {
	border-color: #8e9582;
}

.green .ui-dialog .ui-dialog-titlebar {
	background: #24291e;
}

.green #ui-datepicker-div, .green .ui-datepicker-inline {
	border-color: #8e9582;
}

.green .ui-datepicker-control {
	background-color: #d9ddd3;
	border-bottom-color: #b7bcae;
}

.green .ui-datepicker-links {
	background-color: #7a8171;
}

.green .ui-datepicker-header select {
	background-color: #7a8171;
}

.green .ui-datepicker .ui-datepicker-title-row a {
	color: #24291e;
}

.green .ui-datepicker .ui-datepicker-days-row {
	color: #7a8171;
}

.green .ui-datepicker-week-col {
	color: #bec4b5;
}

.green .ui-datepicker-days-cell a {
	background-color: #eff3ea;
}

.green .ui-datepicker-days-cell a:hover {
	background-color: #7a8171;
}

.green .ui-datepicker-current-day a {
	border-color: #7a8171;
	color: #5f9930;
}

.green .ui-datepicker-current-day a:hover {
	background-color: #f2ffdf;
	border-color: #b7bcae;
	color: #5bcc00;
}

.green .ui-datepicker .ui-datepicker-unselectable {
	color: #bec4b5;
}

.green .ui-colorpicker-current {
	border-color: #7a8171;
}

.green .ui-autocomplete-results li strong {
	color: #5bcc00;
}

.green .ui-tags .ui-tag {
	background-color: #f2ffdf;
	border-color: #c8dda3;
}

.green .ui-tags .ui-tag:hover {
	border-color: #b7bcae;
}

.green .navigation-sort-helper {
	background-color: #7a8171;
}

/* ---------- Main navigation ---------- */

.green #navigation {
	background-color: #040902;
	border-top-color: #3e4930;
}

.green #navigation li {
	border-color: #3e4930;
}

.green #navigation a {
	color: #b4c39e;
}

.green #navigation li.selected a, .green #navigation li a:hover {
	background-color: #24291e;
}

.green #navigation li.selected a span {
	background-image: url(../../images/color_schemes/green/navigation/bullet_selected.png) ;
}

/* ---------- Dock with Javascript ---------- */

.js .green .interactive-mode {
	background-color: #040902;
	background-image: url(../../images/color_schemes/green/dock/center_bg.png);
}

.js .green .interactive-mode h2 {
	background-image: url(../../images/color_schemes/green/dock/right_bg.png);
}

.js .green .interactive-mode h2 span {
	background-image: url(../../images/color_schemes/green/dock/left_bg.png);
	border-right-color: #3d4d33;
}

.js .green .interactive-mode li a:hover, .js .green .interactive-mode .my-places li.current a:hover {
	background-color: #8e9582;
}

.js .green .interactive-mode .my-places li.current-community {
	background-color: #d9ddd3;
}

.js .green .interactive-mode .my-places li.current a {
	background-color: #f2ffdf;
}

.js .green #navigation .enter-page {
	background-color: #24291e;
}

.js .green #add-page {
	background-color: #040902;
	border-color: #3e4930;
}

.js .green .lfr-flyout.has-children {
	background-image: url(../../images/color_schemes/green/arrows/04_left.png);
}

/* This CSS sets the default styles for portlets. */

/* ---------- Portlet wrapper and icons ---------- */

.green .portlet {
	border-color: #8e9582;
}

.green .portlet-topper {
	background-color: #d9ddd3;
	border-bottom-color: #b7bcae;
}

.green .panel-page .portlet-topper {
	border-bottom-color: #8e9582;
}

.green .portlet-section-selected, .green .portlet-section-selected a {
	background-color: #7a8171;
}

.green .portlet-section-selected a:hover, .green .portlet-section-selected a:focus {
	background-color: #7a8171;
}
/* ---------- Calendar portlet ---------- */

.green .portlet-calendar .calendar-day .day-text {
	background-color: #7a8171;
}

.green .taglib-calendar tr td a {
	background-color: #eff3ea;
}

.green .taglib-calendar tr td a:hover {
	background-color: #7a8171;
}

.green .taglib-calendar .calendar-current-day a {
	border-color: #7a8171;
	color: #5f9930;
}

.green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
	background-color: #f2ffdf;
	border-color: #b7bcae;
	color: #5bcc00;
}

.green .taglib-calendar .calendar-current-day, .green .taglib-calendar .calendar-current-day a {
	background-color: #fff;
}

.green .taglib-calendar tr td.calendar-inactive {
	color: #bec4b5;
}

/* ---------- Miscellaneous portlet styles ---------- */

.green .journal-template-error .scroll-pane pre span {
	background-color: #bec4b5;
}

.green .restricted * {
	color: #7a8171;
}

.green .lfr-actions .lfr-trigger li a:hover {
	background-color: #8e9582;
}


/* This CSS sets the default styles for forms. */

.green input[type="text"], .green input[type="password"], .green input[type="file"], .green textarea, .green .textarea {
	background-image: url(../../images/color_schemes/green/forms/input_shadow.png);
}

.green input[type="submit"], .green input[type="button"], .green input[type="reset"] {
	color: #3d4d33;
}

.green input[type="submit"]:hover, .green input[type="button"]:hover, .green input[type="reset"]:hover {
	background-color: #f2ffdf;
	border-color: #c8dda3;
	color: #5bcc00;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 .green input.text, .ie6 .green input.password, .ie6 .green input.file {
	background-image: url(../../images/color_schemes/green/forms/input_shadow.png);
}

.ie6 .green input.submit, .ie6 .green input.button {
	color: #3d4d33;
}