<?xml version="1.0" encoding="UTF-8"?>
<root>
	<dynamic-element instance-id="DAdtAm3v" name="subtitle" type="text">
		<dynamic-content><![CDATA[]]></dynamic-content>
	</dynamic-element>
	<dynamic-element instance-id="W9J8kdzj" name="description" type="text_box">
		<dynamic-content><![CDATA[]]></dynamic-content>
	</dynamic-element>
</root>