<?xml version="1.0" encoding="UTF-8"?>
<root>
	<dynamic-element instance-id="0eJsbwYt" name="number-of-columns" type="text">
		<dynamic-content><![CDATA[15]]></dynamic-content>
	</dynamic-element>
	<dynamic-element instance-id="WBbPjMO6" name="thumbnail-height" type="text">
		<dynamic-content><![CDATA[50]]></dynamic-content>
	</dynamic-element>
</root>