/* This CSS sets the default styles for the base components. */

/* ---------- Wrapper ---------- */

.orange #wrapper {
	background-image: url(../../images/color_schemes/orange/common/body_bg.png);
}

/* ---------- Links ---------- */

.orange a {
	color: #995f30;
}

.orange a:hover {
	color: #cc5c00;
}

/* ---------- Banner ---------- */

.orange #banner {
	background-image: url(../../images/color_schemes/orange/common/banner_bg.jpg);
}

/* ---------- Portal tool tips ---------- */

.orange .portal-tool-tip {
	color: #29211e;
}

/* ---------- Application styling ---------- */

.orange .ui-wrapper {
	border-color: #958782;
}

.orange .results-header {
	background-color: #817671;
}

.orange .ui-autocomplete-even, .orange .results-row td {
	background-color: #f3edea;
}

.orange .ui-autocomplete-odd, .orange .results-row.alt td {
	background-color: #ddd6d3;
}

.orange .ui-autocomplete-over, .orange .results-row.hover td {
	background-color: #edbca8;
}

.orange #content-wrapper #layout-grid.dragging .lfr-column {
	border-color: #958782;
}

.orange .drag-proxy-indicator {
	border-color: 2px dashed #253710;
}

.orange .drop-area {
	background-color: #ddd6d3;
}

.orange .ui-drag-helper {
	border-color: #958782;
	background-color: #ddd6d3;
}

.orange .ui-slider-range {
	background: #29211e;
}

.orange .ui-tabs li {
	background-color: #938a87;
	border-right-color: #493830;
}

.orange .ui-tabs li.current {
	background-color: #fff;
	border-color: #dedede;
}

.orange .ui-tabs li:hover, .orange .ui-tabs li a:hover {
	background-color: #29211e;
	color: #c3a99e;
}

.orange .ui-tabs li.current a, .orange .ui-tabs li.current span {
	color: #995f30;
}

.orange .ui-tabs li.current:hover, .orange .ui-tabs li.current a:hover {
	background-color: #fff;
}

.orange .ui-dialog {
	border-color: #958782;
}

.orange .ui-dialog .ui-dialog-titlebar {
	background: #29211e;
}

.orange #ui-datepicker-div, .orange .ui-datepicker-inline {
	border-color: #958782;
}

.orange .ui-datepicker-control {
	background-color: #ddd6d3;
	border-bottom-color: #bcb1ae;
}

.orange .ui-datepicker-links {
	background-color: #817671;
}

.orange .ui-datepicker-header select {
	background-color: #817671;
}

.orange .ui-datepicker .ui-datepicker-title-row a {
	color: #29211e;
}

.orange .ui-datepicker .ui-datepicker-days-row {
	color: #817671;
}

.orange .ui-datepicker-week-col {
	color: #c4b9b5;
}

.orange .ui-datepicker-days-cell a {
	background-color: #f3edea;
}

.orange .ui-datepicker-days-cell a:hover {
	background-color: #817671;
}

.orange .ui-datepicker-current-day a {
	border-color: #817671;
	color: #995f30;
}

.orange .ui-datepicker-current-day a:hover {
	background-color: #ffe8df;
	border-color: #bcb1ae;
	color: #cc5c00;
}

.orange .ui-datepicker .ui-datepicker-unselectable {
	color: #c4b9b5;
}

.orange .ui-colorpicker-current {
	border-color: #817671;
}

.orange .ui-autocomplete-results li strong {
	color: #cc5c00;
}

.orange .ui-tags .ui-tag {
	background-color: #ffe8df;
	border-color: #ddb2a3;
}

.orange .ui-tags .ui-tag:hover {
	border-color: #bcb1ae;
}

.orange .navigation-sort-helper {
	background-color: #817671;
}

/* ---------- Main navigation ---------- */

.orange #navigation {
	background-color: #090602;
	border-top-color: #493830;
}

.orange #navigation li {
	border-color: #493830;
}

.orange #navigation a {
	color: #c3a99e;
}

.orange #navigation li.selected a, .orange #navigation li a:hover {
	background-color: #29211e;
}

.orange #navigation li.selected a span {
	background-image: url(../../images/color_schemes/orange/navigation/bullet_selected.png) ;
}

/* ---------- Dock with Javascript ---------- */

.js .orange .interactive-mode {
	background-color: #090602;
	background-image: url(../../images/color_schemes/orange/dock/center_bg.png);
}

.js .orange .interactive-mode h2 {
	background-image: url(../../images/color_schemes/orange/dock/right_bg.png);
}

.js .orange .interactive-mode h2 span {
	background-image: url(../../images/color_schemes/orange/dock/left_bg.png);
	border-right-color: #4d4033;
}

.js .orange .interactive-mode li a:hover, .js .orange .interactive-mode .my-places li.current a:hover {
	background-color: #958782;
}

.js .orange .interactive-mode .my-places li.current-community {
	background-color: #ddd6d3;
}

.js .orange .interactive-mode .my-places li.current a {
	background-color: #ffe8df;
}

.js .orange #navigation .enter-page {
	background-color: #29211e;
}

.js .orange #add-page {
	background-color: #090602;
	border-color: #493830;
}

.js .orange .lfr-flyout.has-children {
	background-image: url(../../images/color_schemes/orange/arrows/04_left.png);
}

/* This CSS sets the default styles for portlets. */

/* ---------- Portlet wrapper and icons ---------- */

.orange .portlet {
	border-color: #958782;
}

.orange .portlet-topper {
	background-color: #ddd6d3;
	border-bottom-color: #bcb1ae;
}

.orange .panel-page .portlet-topper {
	border-bottom-color: #958782;
}

.orange .portlet-section-selected, .orange .portlet-section-selected a {
	background-color: #817671;
}

.orange .portlet-section-selected a:hover, .orange .portlet-section-selected a:focus {
	background-color: #817671;
}
/* ---------- Calendar portlet ---------- */

.orange .portlet-calendar .calendar-day .day-text {
	background-color: #817671;
}

.orange .taglib-calendar tr td a {
	background-color: #f3edea;
}

.orange .taglib-calendar tr td a:hover {
	background-color: #817671;
}

.orange .taglib-calendar .calendar-current-day a {
	border-color: #817671;
	color: #995f30;
}

.orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
	background-color: #ffe8df;
	border-color: #bcb1ae;
	color: #cc5c00;
}

.orange .taglib-calendar .calendar-current-day, .orange .taglib-calendar .calendar-current-day a {
	background-color: #fff;
}

.orange .taglib-calendar tr td.calendar-inactive {
	color: #c4b9b5;
}

/* ---------- Miscellaneous portlet styles ---------- */

.orange .journal-template-error .scroll-pane pre span {
	background-color: #c4b9b5;
}

.orange .restricted * {
	color: #817671;
}

.orange .lfr-actions .lfr-trigger li a:hover {
	background-color: #958782;
}


/* This CSS sets the default styles for forms. */

.orange input[type="text"], .orange input[type="password"], .orange input[type="file"], .orange textarea, .orange .textarea {
	background-image: url(../../images/color_schemes/orange/forms/input_shadow.png);
}

.orange input[type="submit"], .orange input[type="button"], .orange input[type="reset"] {
	color: #4d4033;
}

.orange input[type="submit"]:hover, .orange input[type="button"]:hover, .orange input[type="reset"]:hover {
	background-color: #ffe8df;
	border-color: #ddb2a3;
	color: #cc5c00;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 .orange input.text, .ie6 .orange input.password, .ie6 .orange input.file {
	background-image: url(../../images/color_schemes/orange/forms/input_shadow.png);
}

.ie6 .orange input.submit, .ie6 .orange input.button {
	color: #4d4033;
}