#set ($duckUtil = $serviceLocator.findService("be.lions.duckrace.service.DuckRaceLocalServiceUtil"))
#set ($folderUtil = $serviceLocator.findService("com.liferay.portlet.imagegallery.service.IGFolderLocalServiceUtil"))
#set ($imageUtil = $serviceLocator.findService("com.liferay.portlet.imagegallery.service.IGImageLocalServiceUtil"))

#set ($group_id = $getterUtil.getLong($groupId))
#set ($folders = $duckUtil.getGalleryFolders())

#set ($themeImgPath = "/eendjes-theme/images")
#set ($imgGallery= "/image/image_gallery")

<style type="text/css">
.image_gallery td {
  text-align: center;
  padding: 6px;
}
.image_gallery img {
  border: 1px solid #ccc;
  height: ${thumbnail-height.data}px;
}
.image_gallery img:hover {
  border-color: #fff;
}
</style>

<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery(".image_gallery a").lightBox({
      imageLoading: '${themeImgPath}/lightbox/loading.gif',
      imageBtnClose: '${themeImgPath}/lightbox/close.gif',
      imageBtnPrev: '${themeImgPath}/lightbox/prev.gif',
      imageBtnNext: '${themeImgPath}/lightbox/next.gif',
      imageBlank: '${themeImgPath}/lightbox/blank.gif',
      containerResizeSpeed: 550
    });
  });
</script>

#foreach($folder in $folders)
<h2>$folder.name</h2>
<p>$folder.description</p>
<table cellspacing="0" cellpadding="0" class="image_gallery">
<tr>
#foreach ($image in  $duckUtil.getGalleryImages($folder))
    #set ($largeId = $image.custom1ImageId)
    #set ($smallId = $image.smallImageId)
    #set ($name = $image.name)
    <td>
      <a title="$name" href="${imgGallery}?img_id=$largeId">
        <img alt="$name" src="${imgGallery}?img_id=$smallId"/>
      </a>
    </td>
    #if ($velocityCount % $getterUtil.getInteger($number-of-columns.data) == 0)
      </tr><tr>
    #end
#end
</tr>
</table>
<br/><br/>
#end