#set ($imageService = $serviceLocator.findService("com.liferay.portlet.imagegallery.service.IGImageLocalServiceUtil"))
#set ($duckService = $serviceLocator.findService("be.lions.duckrace.service.DuckRaceLocalServiceUtil"))

#set ($stars = $duckService.getNbStars($reserved-article-id.data))
#set ($sponsorName = $reserved-article-title.data)
#set ($logoUrl = $logo.data)

#if ($logoUrl != "")
#set ($imgUuid = $httpUtil.getParameter($logoUrl, "uuid", false))
#set ($imgGroupId = $getterUtil.getLong($httpUtil.getParameter($logoUrl, "groupId", false)))
#set ($image = $imageService.getImageByUuidAndGroupId($imgUuid, $imgGroupId))
#end
#set ($sponsorAddress = $address.data)
#if ($website-url.data != "")
#set ($url = $website-url.data)
#else
#set ($url = "#")
#end
#if(!$stringUtil.startsWith($url, "http://"))
	#set ($url = "http://$url")
#end

#if ($logoUrl != "")
<a href="$url" class="left">
	<img class="logo" src="/image/image_gallery?img_id=${image.custom1ImageId}" alt="$sponsorName"/>
</a>
#end

<div class="sponsor-desc">
	<h2>$sponsorName</h2>
	
#if ($sponsorAddress != "")
	<p>
		<b>Adres:</b> $sponsorAddress<br/>
	</p>
#end
</div>