<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  >
<h:head>
</h:head>
<h:body>
	<h:messages globalOnly="true" layout="table"/>

	<h:form>
		<p><span>Vul het gewonnen eendjesnummer in en klik op </span><b>OK</b></p>
		<p>
			<h:inputText value="#{WinnerBean.number}" styleClass="autofocus" maxlength="7" style="margin-right: 15px;"/>
			<h:commandButton action="#{WinnerBean.search}" value="OK"/>
		</p>
		<br/>
		<h:panelGroup rendered="#{!empty WinnerBean.participant}">
			<h3>And the winner is...</h3>
			<p>
				<b>Naam: </b><h:outputText value="#{WinnerBean.participant.fullName}"/><br/>
				<b>E-mailadres: </b><h:outputText value="#{WinnerBean.participant.emailAddress}"/><br/>
				<b>Gsm-nummer: </b><h:outputText value="#{WinnerBean.participant.formattedMobileNumber}"/>
			</p>
		</h:panelGroup>
	</h:form>
	<script type="text/javascript">
        jQuery(".autofocus").focus();
	</script>
</h:body>
</html>