<div class="columns-1-2-1" id="content-wrapper">
	<table class="lfr-grid" id="layout-grid">
	<tr>
		<td class="lfr-column" colspan="2" id="column-1" valign="top">
			$processor.processColumn("column-1")
		</td>
	</tr>
	<tr id="column-center">
		<td class="lfr-column fifty" id="column-2" valign="top">
			$processor.processColumn("column-2")
		</td>
		<td class="lfr-column fifty" id="column-3" valign="top">
			$processor.processColumn("column-3")
		</td>
	</tr>
	<tr>
		<td class="lfr-column" colspan="2" id="column-4" valign="top">
			$processor.processColumn("column-4")
		</td>
	</tr>
	</table>
</div>